SmartPlug/NodeRED_SmartPlug.json
[{"id":"659657e6fb7fd89e","type":"tab","label":"Smart Plug","disabled":false,"info":"","env":[]},{"id":"4db30cdaf576e3a7","type":"mqtt in","z":"659657e6fb7fd89e","name":"Subscribe to STM32","topic":"v3/nke-watteco@ttn/devices/lrwan1-end-node/+","qos":"2","datatype":"json","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":100,"wires":[["759e9ad6ec1b56c1","eb6ecb45a46b0718","f5324ff7e776e075"]]},{"id":"39a20eb5dc0f92ef","type":"ui_text","z":"659657e6fb7fd89e","group":"1279bf7669116f9a","order":2,"width":0,"height":0,"name":"","label":"Payload (base10)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":650,"y":140,"wires":[]},{"id":"759e9ad6ec1b56c1","type":"function","z":"659657e6fb7fd89e","name":"Base64 to Base10","func":"/*\n* Title:    Smart Plug - Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// Payload conversion\nvar buff = Buffer.from(msg.payload.uplink_message.frm_payload, 'base64');   // get the paylaod\nvar buff2 = buff.toString('hex');                                           // base64 to hex\nvar buff3 = parseInt(buff2,16);                                             // hex to dec\n\n// New msg creation\nvar newMsg = { payload: buff3 };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":140,"wires":[["39a20eb5dc0f92ef","80241a3b23bb22c5"]]},{"id":"eb6ecb45a46b0718","type":"ui_text","z":"659657e6fb7fd89e","group":"1279bf7669116f9a","order":1,"width":0,"height":0,"name":"","label":"Payload (base64)","format":"{{msg.payload.uplink_message.frm_payload}}","layout":"row-spread","className":"","x":650,"y":100,"wires":[]},{"id":"80241a3b23bb22c5","type":"ui_chart","z":"659657e6fb7fd89e","name":"","group":"1279bf7669116f9a","order":3,"width":0,"height":0,"label":"Humidity (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Wainting for data...","dot":true,"ymin":"40","ymax":"70","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":630,"y":180,"wires":[[]]},{"id":"0eaba9b74f5a03b1","type":"mqtt in","z":"659657e6fb7fd89e","name":"Subscribe to Smart Plug","topic":"v3/nke-watteco@ttn/devices/smart-plug-01/+","qos":"2","datatype":"json","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":380,"wires":[["6ee8e705e586010f","629b1dc78b5707dd","79d682ebf1a30936"]]},{"id":"6ee8e705e586010f","type":"function","z":"659657e6fb7fd89e","name":"Get the status","func":"/*\n* Title:    Smart Plug - Get the status\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  --\n*\n*/\n\n// Payload conversion\nvar buff = Buffer.from(msg.payload.uplink_message.frm_payload, 'base64');   // get the paylaod\nvar report = buff.toString('hex');                                          // base64 to hex\n// var buff3 = parseInt(buff2,16);                                          // hex to dec\n\n\n// buffer\nvar message;\n\n\n// report analysis\nif (report[7] == \"6\"){\n    \n    if (report[15] == \"1\"){\n        message = \"ON\";\n    }\n    else if (report[15] == \"0\") {\n        message = \"OFF\";\n    }\n    else {\n        message = \"error\";\n    }\n\n    // New msg creation\n    var newMsg = { payload: message };\n    return newMsg;\n    \n}\nelse{\n    //\n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["f01329fa06508400"]]},{"id":"1657dc25965e5378","type":"ui_text","z":"659657e6fb7fd89e","group":"a8f094798ddf0d37","order":1,"width":0,"height":0,"name":"","label":"Payload (base16)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":650,"y":380,"wires":[]},{"id":"629b1dc78b5707dd","type":"function","z":"659657e6fb7fd89e","name":"Get the W ","func":"/*\n* Title:    Smart Plug - Get the W\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  --\n*\n*/\n\n// Payload conversion\nvar buff = Buffer.from(msg.payload.uplink_message.frm_payload, 'base64');   // get the paylaod\nvar report = buff.toString('hex');                                          // base64 to hex\n// var buff3 = parseInt(buff2,16);                                          // hex to dec\n\n    // New msg creation\n    //var newMsg1 = { payload: report };\n    //return newMsg1;\n\n// buffer\nvar message;\n\n\n    // 110a000600001001\n\t// 110a00520000410c00004d0000050003000afff0\n\t// 10040040e51d00002010a41aaaa11aaab107\n\n\n// report analysis\nif (report[7] == \"2\"){\n    \n    message = report[32] + report[33] + report[34] + report[35];\n    var messagehex = message.toString('hex');\n    var messagedec = parseInt(messagehex, 16);\n    // msg.reportW = messagedec;\n    \n    // New msg creation\n    var newMsg = { payload: messagedec };\n    return newMsg;\n    \n}\nelse if (report[7] == \"0\"){\n    \n    var newMsg2 = { payload: \"0\" };\n    return newMsg2;\n    \n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":420,"wires":[["fd0f10c4811f2a85"]]},{"id":"f01329fa06508400","type":"ui_text","z":"659657e6fb7fd89e","group":"a8f094798ddf0d37","order":2,"width":0,"height":0,"name":"Status","label":"Status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":610,"y":460,"wires":[]},{"id":"79d682ebf1a30936","type":"function","z":"659657e6fb7fd89e","name":"Base64 to Base16","func":"/*\n* Title:    Smart Plug - Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// Payload conversion\nvar buff = Buffer.from(msg.payload.uplink_message.frm_payload, 'base64');   // get the paylaod\nvar buff2 = buff.toString('hex');                                           // base64 to hex\n// var buff3 = parseInt(buff2,16);                                             // hex to dec\n\n// New msg creation\nvar newMsg = { payload: buff2 };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":380,"wires":[["1657dc25965e5378"]]},{"id":"5491aa7d4bd60e5b","type":"ui_button","z":"659657e6fb7fd89e","name":"","group":"a8f094798ddf0d37","order":3,"width":6,"height":1,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"downlinks\":[{\"f_port\":125,\"frm_payload\":\"EVAABgE=\",\"priority\":\"NORMAL\"}]}","payloadType":"json","topic":"payload","topicType":"msg","x":190,"y":580,"wires":[["d58c266f20bea021"]]},{"id":"69a811bb535158de","type":"ui_button","z":"659657e6fb7fd89e","name":"","group":"a8f094798ddf0d37","order":4,"width":6,"height":1,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"downlinks\":[{\"f_port\":125,\"frm_payload\":\"EVAABgA=\",\"priority\":\"NORMAL\"}]}","payloadType":"json","topic":"payload","topicType":"msg","x":190,"y":620,"wires":[["d58c266f20bea021"]]},{"id":"d58c266f20bea021","type":"mqtt out","z":"659657e6fb7fd89e","name":"Publish to Smart Plug","topic":"v3/nke-watteco@ttn/devices/smart-plug-01/down/replace","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":440,"y":600,"wires":[]},{"id":"fd0f10c4811f2a85","type":"ui_chart","z":"659657e6fb7fd89e","name":"","group":"a8f094798ddf0d37","order":3,"width":0,"height":0,"label":"Puissance (W)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Wainting for data...","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":640,"y":420,"wires":[[]]},{"id":"0de637727aa53b5c","type":"mqtt out","z":"659657e6fb7fd89e","name":"Publish to Smart Plug","topic":"v3/nke-watteco@ttn/devices/smart-plug-01/down/replace","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":660,"y":240,"wires":[]},{"id":"f5324ff7e776e075","type":"function","z":"659657e6fb7fd89e","name":"OFF if (H% > 52)","func":"/*\n* Title:    Smart Plug - Trigger\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// Payload conversion\nvar buff = Buffer.from(msg.payload.uplink_message.frm_payload, 'base64');   // get the paylaod\nvar buff2 = buff.toString('hex');                                           // base64 to hex\nvar buff3 = parseInt(buff2,16);                                             // hex to dec\n\n\n\nif (buff3 > 52){\n    // New msg creation\n    var newMsg = { payload: {\n    \"downlinks\": [\n        {\n            \"f_port\": 125,\n            \"frm_payload\": \"EVAABgA=\",\n            \"priority\": \"NORMAL\"\n        }\n    ]\n} \n        \n    };\n    return newMsg;\n}\nelse{\n    //\n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":240,"wires":[["0de637727aa53b5c"]]},{"id":"1279bf7669116f9a","type":"ui_group","name":"Device STM32","tab":"4f84baaac2c9c628","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"a8f094798ddf0d37","type":"ui_group","name":"Smart Plug NKE","tab":"4f84baaac2c9c628","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"4f84baaac2c9c628","type":"ui_tab","name":"Smart Plug","icon":"dashboard","order":9,"disabled":false,"hidden":false}]