FUOTA Server/NodeRED_LoRaWAN_FUOTA_Server.json
[{"id":"81bd34be2fa46898","type":"tab","label":"FUOTA","disabled":false,"info":"","env":[]},{"id":"d46250c174bae9b0","type":"comment","z":"81bd34be2fa46898","name":"PackageVersionReq  command (0x00)","info":"","x":370,"y":140,"wires":[]},{"id":"ecfbf2027a239f8e","type":"ui_text","z":"81bd34be2fa46898","group":"f347512d0d6e3295","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":690,"y":180,"wires":[]},{"id":"e329873d4d9fffa8","type":"ui_template","z":"81bd34be2fa46898","group":"f347512d0d6e3295","name":"Info","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<!--<head>-->\n<!--\t<title>Hello</title>-->\n\n<!--\t<h1>Hello World</h1>-->\n<!--</head>-->\n<body>\n    \n<p><em>Payload is fixed</em></p>\n\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":270,"y":180,"wires":[[]]},{"id":"05521c888e40e495","type":"inject","z":"81bd34be2fa46898","name":"00","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"00","payloadType":"str","x":430,"y":180,"wires":[["ecfbf2027a239f8e"]]},{"id":"3c360c84f0975fa5","type":"comment","z":"81bd34be2fa46898","name":"DevVersionReq command (0x01)","info":"","x":350,"y":260,"wires":[]},{"id":"3fc0daa6235672a2","type":"ui_text","z":"81bd34be2fa46898","group":"7aa3ceccb60a7961","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":730,"y":300,"wires":[]},{"id":"8735b50097ef18b0","type":"ui_template","z":"81bd34be2fa46898","group":"7aa3ceccb60a7961","name":"Info","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<!--<head>-->\n<!--\t<title>Hello</title>-->\n\n<!--\t<h1>Hello World</h1>-->\n<!--</head>-->\n<body>\n    \n<p><em>Payload is fixed</em></p>\n\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":270,"y":300,"wires":[[]]},{"id":"9ff279f315942d7d","type":"inject","z":"81bd34be2fa46898","name":"01","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"01","payloadType":"str","x":430,"y":300,"wires":[["3fc0daa6235672a2"]]},{"id":"aa02d0378a1ddcc5","type":"comment","z":"81bd34be2fa46898","name":"DevRebootTimeReq (0x02)","info":"","x":330,"y":380,"wires":[]},{"id":"70dc63c8e324dda5","type":"ui_form","z":"81bd34be2fa46898","name":"DevRebootTimeReq","label":"","group":"54f20a3bf36f1681","order":2,"width":0,"height":0,"options":[{"label":"Reboot time (date)","value":"Time_date","type":"date","required":false,"rows":null},{"label":"Reboot time (time)","value":"Time_time","type":"time","required":false,"rows":null},{"label":"Reboot as soon as possible","value":"asap","type":"checkbox","required":false,"rows":null},{"label":"Cancel the currently programmed reboot","value":"cancel","type":"checkbox","required":false,"rows":null}],"formValue":{"Time_date":"","Time_time":"","asap":false,"cancel":false},"payload":"","submit":"Create command","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":false,"className":"","x":320,"y":420,"wires":[["a712551d7d47fa07"]]},{"id":"a712551d7d47fa07","type":"function","z":"81bd34be2fa46898","name":"DevRebootTimeReq","func":"/*\n* Title:    FUOTA LoRaWAN command: DevRebootTimeReq\n* Autor:    Antoine AUGAGNEUR\n* Date:     may, 2022\n* Sources:  > LoRaWAN® Firmware Management Protocol Specification TS006-1.0.0\n*\n*                                          \n*/\n\n// Get data form\nvar ASAP = msg.payload.asap;\nvar Cancel = msg.payload.cancel;\nvar rebootdate = msg.payload.Time_date;\nvar reboottime = msg.payload.Time_time;\n\n// Data interpretation and error handling\nvar TimeDate = Boolean((rebootdate != null) && (reboottime != null));           // true: Reboot-Date&Time correctly setup\nvar TimeDate1over2 = Boolean( ((rebootdate !=null) && (reboottime == null))     // true: One over 2 is crossed\n                            || (rebootdate == null && (reboottime != null)))\n\n// RebootTime (4-bytes)\nif ((TimeDate && ASAP) || (TimeDate && Cancel) || (TimeDate1over2 && ASAP) || (TimeDate1over2 && Cancel)){\n    msg.command = \"Error\"\n    return msg;\n}\nelse if (ASAP && !Cancel){\n    msg.command = \"0200000000\"\n    return msg;\n}\nelse if (Cancel && !ASAP){\n    msg.command = \"02FFFFFFFF\"\n    return msg;\n}\nelse if (TimeDate){\n    //  ## Date calculation\n    // GPS origin\n    var Origin = new Date('1980-01-06 00:00:00');\n    // Desired date\n    var Desired_date = Date.parse(rebootdate);        // Y, M, D // \"parse\" turns the date into the number of ms passed since 1970-01-01.\n    var Desired_time = Date.parse(reboottime);        // H, M\n    \n    // Difference calculation\n    var offset_time = Date.parse('1970-01-01 00:00:00');\n    var Desired = Desired_date + Desired_time - offset_time - Origin;   // time ( = hours and minuts) is set with an offset of 1970-01-01. So, I take the offset away.\n    Desired=Desired+7200000;    // 2 hours are added to synch with our time (UTC+01). Added twice because there are a Date(Y,M,D) setup AND a time (H,M) setup.\n    Desired=Desired+3600000;    // because of the time change in france\n    var Diff = Desired/1000;      // difference in seconds\n    \n    // RebootTime build\n    var RebootTime = (\"00000000\" + (parseInt(Diff,10).toString(16))).substr(-8);\n    // var RebootTime = Diff.toString(16);       // hex to string conversion\n    var RebootTime_le = RebootTime[6]        // little endian conversion\n                        + RebootTime[7]\n                        + RebootTime[4]\n                        + RebootTime[5]\n                        + RebootTime[2]\n                        + RebootTime[3]\n                        + RebootTime[0]\n                        + RebootTime[1];\n    // RebootTime_le = Buffer.from(RebootTime_le, 'hex');\n    \n    msg.command = \"02\" + RebootTime_le;\n    msg.debug_time = Diff;\n    return msg;\n}\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":420,"wires":[["8399df2a47bd7c1e","6bb76bc3336559de"]]},{"id":"8399df2a47bd7c1e","type":"ui_text","z":"81bd34be2fa46898","group":"54f20a3bf36f1681","order":1,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.command}}","layout":"col-center","className":"","x":770,"y":420,"wires":[]},{"id":"6bb76bc3336559de","type":"debug","z":"81bd34be2fa46898","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"debug_time","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":380,"wires":[]},{"id":"8bacbc8b78e029f5","type":"comment","z":"81bd34be2fa46898","name":"DevRebootCountdownReq (0x03)","info":"","x":350,"y":500,"wires":[]},{"id":"ea8296b28910c234","type":"ui_form","z":"81bd34be2fa46898","name":"DevRebootCountdownReq","label":"","group":"4d16af22a6324b77","order":2,"width":0,"height":0,"options":[{"label":"Reboot Countdown (in sec, max: 16.777.214)","value":"countdown","type":"text","required":false,"rows":null},{"label":"Reboot as soon as possible","value":"asap","type":"checkbox","required":false,"rows":null},{"label":"Cancel the currently programmed reboot","value":"cancel","type":"checkbox","required":false,"rows":null}],"formValue":{"countdown":"","asap":false,"cancel":false},"payload":"","submit":"Create command","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":false,"className":"","x":340,"y":540,"wires":[["a520dfdb1d1add28"]]},{"id":"a520dfdb1d1add28","type":"function","z":"81bd34be2fa46898","name":"DevRebootCountdownReq","func":"/*\n* Title:    FUOTA LoRaWAN command: DevRebootCountdownReq\n* Autor:    Antoine AUGAGNEUR\n* Date:     may, 2022\n* Sources:  > LoRaWAN® Firmware Management Protocol Specification TS006-1.0.0\n*\n*                                          \n*/\n\n// Get data form\nvar ASAP = msg.payload.asap;\nvar Cancel = msg.payload.cancel;\nvar CountDown = msg.payload.countdown;\n\n// Data interpretation and error handling\nvar CDok = Boolean(CountDown!=null && parseInt(CountDown,10) <= 16777214);                   // true: Countdown is ok\n\n// RebootTime (4-bytes)\nif ((CDok && ASAP) || (CDok && Cancel) || (!CDok && !ASAP && !Cancel)){\n    msg.command = \"Error\"\n    return msg;\n}\nelse if (ASAP && !Cancel){\n    msg.command = \"0300000000\"\n    return msg;\n}\nelse if (Cancel && !ASAP){\n    msg.command = \"03FFFFFFFF\"\n    return msg;\n}\nelse if (CDok){\n    \n    var CountDownHEX = (\"000000\" + (parseInt(CountDown,10).toString(16))).substr(-6);\n\n    var RebootTime_le = RebootTime[4]     // little endian conversion\n                        + RebootTime[5]\n                        + RebootTime[2]\n                        + RebootTime[3]\n                        + RebootTime[0]\n                        + RebootTime[1];\n    // RebootTime_le = Buffer.from(RebootTime_le, 'hex');\n    \n    msg.command = \"03\" + RebootTime_le;\n    msg.debug_time = Diff;\n    return msg;\n}\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":540,"wires":[["7eefe1044c3125ec","6ce8c9dc849ab490"]]},{"id":"7eefe1044c3125ec","type":"ui_text","z":"81bd34be2fa46898","group":"4d16af22a6324b77","order":1,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.command}}","layout":"col-center","className":"","x":850,"y":540,"wires":[]},{"id":"6ce8c9dc849ab490","type":"debug","z":"81bd34be2fa46898","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"debug_time","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":500,"wires":[]},{"id":"9efbef26f37a9e34","type":"comment","z":"81bd34be2fa46898","name":"DevUpgradeImageReq command (0x04)","info":"","x":380,"y":620,"wires":[]},{"id":"95a26fa3f95c6aa6","type":"ui_text","z":"81bd34be2fa46898","group":"b1aa0fd51e29c482","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":730,"y":660,"wires":[]},{"id":"d5a7af7a1bbb8487","type":"ui_template","z":"81bd34be2fa46898","group":"b1aa0fd51e29c482","name":"Info","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<!--<head>-->\n<!--\t<title>Hello</title>-->\n\n<!--\t<h1>Hello World</h1>-->\n<!--</head>-->\n<body>\n    \n<p><em>Payload is fixed</em></p>\n\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":270,"y":660,"wires":[[]]},{"id":"117594431e79b207","type":"inject","z":"81bd34be2fa46898","name":"04","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"04","payloadType":"str","x":430,"y":660,"wires":[["95a26fa3f95c6aa6"]]},{"id":"f347512d0d6e3295","type":"ui_group","name":"PackageVersionReq","tab":"16c6b620c6d7e9ea","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7aa3ceccb60a7961","type":"ui_group","name":"DevVersionReq","tab":"16c6b620c6d7e9ea","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"54f20a3bf36f1681","type":"ui_group","name":"DevRebootTimeReq","tab":"16c6b620c6d7e9ea","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"4d16af22a6324b77","type":"ui_group","name":"DevRebootCountdownReq","tab":"16c6b620c6d7e9ea","order":2,"disp":true,"width":8,"collapse":false,"className":""},{"id":"b1aa0fd51e29c482","type":"ui_group","name":"DevUpgradeImageReq","tab":"16c6b620c6d7e9ea","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"16c6b620c6d7e9ea","type":"ui_tab","name":"FUOTA","icon":"dashboard","order":12,"disabled":false,"hidden":false}]