ALL/ALL_03052022.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"TTS Server","disabled":false,"info":""},{"id":"9c4e6328c59086b7","type":"tab","label":"Multicast","disabled":false,"info":"","env":[]},{"id":"1aa241be6de675cd","type":"tab","label":"Clock Synchronization","disabled":false,"info":"","env":[]},{"id":"4bd7ae34573d3d76","type":"tab","label":"Draft","disabled":false,"info":"","env":[]},{"id":"3d65af8393146a26","type":"tab","label":"dashboard test","disabled":false,"info":"","env":[]},{"id":"659657e6fb7fd89e","type":"tab","label":"Smart Plug","disabled":false,"info":"","env":[]},{"id":"10bd416563db5ccf","type":"tab","label":"Ruches","disabled":false,"info":"","env":[]},{"id":"3d1cf845.9887c8","type":"mqtt-broker","name":"TTS Server","broker":"serveur1.master-stic.fr","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"90954205.83e09","type":"ui_tab","name":"TheThingsStack","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"10a4c9d6.ca3456","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0800b3","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#8b7e3c","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"white","default":"#4B7930","baseColor":"#ffffff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0800b3","edited":true},"page-titlebar-backgroundColor":{"value":"#0800b3","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0c00ff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0800b3","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5c990ccd.200e14","type":"ui_group","name":"Lrwan1 -- Uplinks","tab":"90954205.83e09","order":1,"disp":true,"width":"7","collapse":false,"className":""},{"id":"ebf89960.4168d8","type":"ui_group","name":"Lrwan1 -- Downlinks","tab":"90954205.83e09","order":2,"disp":true,"width":"7","collapse":false,"className":""},{"id":"65b0f6bd.a67d88","type":"ui_tab","name":"Chirpstack","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"44d67524.31875c","type":"ui_group","name":"Lrwan1 -- Uplinks","tab":"65b0f6bd.a67d88","order":3,"disp":true,"width":7,"collapse":false,"className":""},{"id":"bebae5fa.90e0e8","type":"ui_group","name":"Lrwan1 -- Downlinks","tab":"65b0f6bd.a67d88","order":4,"disp":true,"width":7,"collapse":false,"className":""},{"id":"dce612eb.74323","type":"mqtt-broker","name":"Chirpstack","broker":"serveur1.master-stic.fr","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3757b968.14a5e6","type":"ui_group","name":"STM32WL -- Uplinks","tab":"65b0f6bd.a67d88","order":1,"disp":true,"width":7,"collapse":false,"className":""},{"id":"a8417d22.fcb47","type":"ui_group","name":"STM32WL -- Downlinks","tab":"65b0f6bd.a67d88","order":2,"disp":true,"width":7,"collapse":false,"className":""},{"id":"0caabba54c313b2d","type":"mqtt-broker","name":"TTN Server","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9f41aec5ed9bf76f","type":"ui_tab","name":"TTN","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"a765d604a9b50502","type":"ui_group","name":"STM32WL -- Uplinks","tab":"9f41aec5ed9bf76f","order":1,"disp":true,"width":7,"collapse":false,"className":""},{"id":"57a6b32a729fa492","type":"ui_group","name":"STM32WL -- Downlinks","tab":"9f41aec5ed9bf76f","order":2,"disp":true,"width":7,"collapse":false,"className":""},{"id":"121f9e88659f1b47","type":"ui_tab","name":"Multicast","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"f48663973273d0a3","type":"ui_group","name":"Multicast Session Generator","tab":"121f9e88659f1b47","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"1b214600.17935a","type":"ui_group","name":"Default","tab":"b8fb94f4.0d31d8","order":1,"disp":true,"width":"20","collapse":false,"className":""},{"id":"b8fb94f4.0d31d8","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6981c805a4790f2a","type":"ui_group","name":"McGroupSetupReq","tab":"121f9e88659f1b47","order":5,"disp":true,"width":11,"collapse":false,"className":""},{"id":"8be7a72d5783bb58","type":"ui_group","name":"McClassCSessionReq","tab":"121f9e88659f1b47","order":6,"disp":true,"width":10,"collapse":false,"className":""},{"id":"0b5f9950f773f2db","type":"mqtt-broker","name":"Mosquitto ONLINE","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"64d1a9bb215a1207","type":"ui_tab","name":"Clock Synchronization","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"36613ffb2d534ad0","type":"ui_group","name":"ForceDeviceResyncReq","tab":"64d1a9bb215a1207","order":4,"disp":true,"width":7,"collapse":false,"className":""},{"id":"a75085e7497058c4","type":"ui_tab","name":"Draft","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"a06c8a2503770b97","type":"ui_group","name":"draft1","tab":"a75085e7497058c4","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5c1b38e3407d4958","type":"ui_group","name":"Downlink (ThingPark)","tab":"121f9e88659f1b47","order":7,"disp":true,"width":8,"collapse":false,"className":""},{"id":"311f12a4.3d2b9e","type":"mqtt-broker","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ce10c98edc29ac62","type":"ui_group","name":"Uplink (ThingPark)","tab":"121f9e88659f1b47","order":8,"disp":true,"width":13,"collapse":false,"className":""},{"id":"f9ac9e91.20e588","type":"ui_tab","name":"Table Examples","icon":"dashboard","order":3},{"id":"55a4fad94780cc60","type":"ui_group","name":"Application Layer Clock Synchronization","tab":"64d1a9bb215a1207","order":1,"disp":true,"width":10,"collapse":false,"className":""},{"id":"525df876d07dbfec","type":"ui_group","name":"PackageVersionReq","tab":"64d1a9bb215a1207","order":2,"disp":true,"width":7,"collapse":false,"className":""},{"id":"4e5bc59179d99b0b","type":"ui_group","name":"Uplink","tab":"64d1a9bb215a1207","order":6,"disp":true,"width":"14","collapse":false,"className":""},{"id":"3ee3732d6215f938","type":"ui_group","name":"DeviceAppTimePeriodicityReq ","tab":"64d1a9bb215a1207","order":3,"disp":true,"width":7,"collapse":false,"className":""},{"id":"a9b6f0a746d9bfcb","type":"ui_group","name":"Downlink","tab":"64d1a9bb215a1207","order":5,"disp":true,"width":"7","collapse":false,"className":""},{"id":"1f5263f560ceadfe","type":"ui_group","name":"PackageVersionReq","tab":"121f9e88659f1b47","order":2,"disp":true,"width":"7","collapse":false,"className":""},{"id":"f3fc4dc65da12719","type":"ui_group","name":"McGroupStatusReq","tab":"121f9e88659f1b47","order":3,"disp":true,"width":"7","collapse":false,"className":""},{"id":"773407c9ade4eb7e","type":"ui_group","name":"McGroupDeleteReq","tab":"121f9e88659f1b47","order":4,"disp":true,"width":"7","collapse":false,"className":""},{"id":"a2975e64fd81bd4a","type":"websocket-listener","path":"/ws/test","wholemsg":"false"},{"id":"bb122ee3e9c01561","type":"mqtt-broker","name":"TTN--test-endnode-pour-formation","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8e6e7013aef2591a","type":"mqtt-broker","name":"TTN - nke-watteco@ttn","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4f84baaac2c9c628","type":"ui_tab","name":"Smart Plug","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"1279bf7669116f9a","type":"ui_group","name":"Device STM32","tab":"4f84baaac2c9c628","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"a8f094798ddf0d37","type":"ui_group","name":"Smart Plug NKE","tab":"4f84baaac2c9c628","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"f430fd0223bbe8cc","type":"mqtt-broker","name":"TTN - balance-connectee@ttn","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d48d28af809fb5ec","type":"ui_tab","name":"Connected Beehive","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"0f45718f4d08ad7c","type":"ui_group","name":"Beehive data","tab":"d48d28af809fb5ec","order":2,"disp":true,"width":18,"collapse":false,"className":""},{"id":"20d4bd59.a21a22","type":"ui_tab","name":"DS Pilot Extrusion Line","icon":"dashboard","order":2},{"id":"a2c09fe8.458d6","type":"ui_group","name":"Default","tab":"5074feb8.5be66","order":1,"disp":true,"width":"6","collapse":false},{"id":"5074feb8.5be66","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e56e04ca284056ef","type":"influxdb","hostname":"172.31.0.3","port":"8086","protocol":"http","database":"maBase","name":"maBase beehive","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://adtp.master-stic.fr:8086","rejectUnauthorized":true},{"id":"d4db57c5addeebe4","type":"ui_group","name":"Latest Data","tab":"d48d28af809fb5ec","order":1,"disp":true,"width":"4","collapse":false,"className":""},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"3ce32370.c60f1c","type":"ui_group","name":"Demo","tab":"d74bbed4.c2cfb","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"d74bbed4.c2cfb","type":"ui_tab","name":"Demo","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"54bfa295.6612fc","type":"ui_tab","name":"Monthly Data","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"a5455c72d64e18d0","type":"ui_group","name":"Snapshot","tab":"840ee89eed560da7","order":2,"disp":true,"width":"6","collapse":false},{"id":"840ee89eed560da7","type":"ui_tab","name":"Raspi Cam","icon":"camera","order":3,"disabled":false,"hidden":false},{"id":"dce9e7a2.d20c78","type":"ui_group","name":"Object detection","tab":"5132060d.4cde48","order":1,"disp":true,"width":"9","collapse":false},{"id":"5132060d.4cde48","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a73c0688.26bac8","type":"ui_group","name":"Bits","tab":"207e613d.22c52e","order":4,"disp":false,"width":"25","collapse":false},{"id":"207e613d.22c52e","type":"ui_tab","name":"Configuration","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"92d68d78.98723","type":"mqtt in","z":"f6f2187d.f17ca8","name":"from TTS server","topic":"v3/my-application-tts/devices/my-device-otaa/+","qos":"2","datatype":"json","broker":"3d1cf845.9887c8","nl":false,"rap":false,"inputs":0,"x":280,"y":100,"wires":[["7fbb645a.4398ec","45dcd24b.0fd56c","44151d01.7052e4","52b85ea2.b21bb"]]},{"id":"7fbb645a.4398ec","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":100,"wires":[]},{"id":"45dcd24b.0fd56c","type":"ui_text","z":"f6f2187d.f17ca8","group":"5c990ccd.200e14","order":1,"width":7,"height":1,"name":"","label":"Device ID","format":"{{payload.end_device_ids.device_id}}","layout":"row-spread","className":"","x":520,"y":140,"wires":[]},{"id":"44151d01.7052e4","type":"ui_text","z":"f6f2187d.f17ca8","group":"5c990ccd.200e14","order":2,"width":7,"height":1,"name":"","label":"Frame Payload","format":"{{payload.uplink_message.frm_payload}}","layout":"row-spread","className":"","x":540,"y":180,"wires":[]},{"id":"52b85ea2.b21bb","type":"ui_text","z":"f6f2187d.f17ca8","group":"5c990ccd.200e14","order":3,"width":7,"height":1,"name":"","label":"Date","format":"{{payload.received_at}}","layout":"row-spread","className":"","x":510,"y":220,"wires":[]},{"id":"ae87ceb9.31b2b","type":"mqtt out","z":"f6f2187d.f17ca8","name":"to TTS server","topic":"v3/my-application-tts/devices/my-device-otaa/down/replace","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3d1cf845.9887c8","x":1000,"y":100,"wires":[]},{"id":"dbf6582e.e9a888","type":"comment","z":"f6f2187d.f17ca8","name":"Uplink // TheThingsStack","info":"","x":310,"y":60,"wires":[]},{"id":"4fe43e84.57af8","type":"comment","z":"f6f2187d.f17ca8","name":"Downlink // TheThingsStack","info":"","x":800,"y":60,"wires":[]},{"id":"fb4832cf.b097","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"ebf89960.4168d8","order":3,"width":0,"height":0,"passthru":false,"label":"SEND !","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"downlinks\":[{\"f_port\":9,\"frm_payload\":\"AA==\",\"priority\":\"NORMAL\"}]}","payloadType":"json","topic":"payload","topicType":"msg","x":740,"y":100,"wires":[["ae87ceb9.31b2b","bf80f8cc.63f698","1e9a662a.72214a","dfab0295.5a646"]]},{"id":"1e9a662a.72214a","type":"ui_text","z":"f6f2187d.f17ca8","group":"ebf89960.4168d8","order":1,"width":7,"height":1,"name":"","label":"Port","format":"{{payload.downlinks[0].f_port}}","layout":"row-spread","className":"","x":970,"y":200,"wires":[]},{"id":"bf80f8cc.63f698","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":160,"wires":[]},{"id":"dfab0295.5a646","type":"ui_text","z":"f6f2187d.f17ca8","group":"ebf89960.4168d8","order":2,"width":0,"height":0,"name":"","label":"Frm_payload","format":"{{payload.downlinks[0].frm_payload}}","layout":"row-spread","className":"","x":990,"y":240,"wires":[]},{"id":"a1c51574.0b8c68","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"5c990ccd.200e14","order":4,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":250,"y":160,"wires":[["45dcd24b.0fd56c","44151d01.7052e4","52b85ea2.b21bb"]]},{"id":"915ea3d.9aff86","type":"mqtt in","z":"f6f2187d.f17ca8","name":"from Chirpstack","topic":"application/1/device/e24f43fffe44cce6/+","qos":"2","datatype":"json","broker":"dce612eb.74323","nl":false,"rap":false,"inputs":0,"x":280,"y":340,"wires":[["9c14809a.52ea5","2c41c573.55891a","533acdc7.8c6544","32c19c9c.429564"]]},{"id":"9c14809a.52ea5","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":340,"wires":[]},{"id":"2c41c573.55891a","type":"ui_text","z":"f6f2187d.f17ca8","d":true,"group":"44d67524.31875c","order":1,"width":0,"height":0,"name":"","label":"Device ID","format":"{{payload.end_device_ids.device_id}}","layout":"row-spread","className":"","x":520,"y":380,"wires":[]},{"id":"533acdc7.8c6544","type":"ui_text","z":"f6f2187d.f17ca8","d":true,"group":"44d67524.31875c","order":2,"width":0,"height":0,"name":"","label":"Frame Payload","format":"{{payload.uplink_message.frm_payload}}","layout":"row-spread","className":"","x":540,"y":420,"wires":[]},{"id":"32c19c9c.429564","type":"ui_text","z":"f6f2187d.f17ca8","d":true,"group":"44d67524.31875c","order":3,"width":0,"height":0,"name":"","label":"Date","format":"{{payload.received_at}}","layout":"row-spread","className":"","x":510,"y":460,"wires":[]},{"id":"2e79c29f.d6cc9e","type":"mqtt out","z":"f6f2187d.f17ca8","name":"to Chirpstack","topic":"application/1/device/e24f43fffe44cce6/command/down","qos":"","retain":"","broker":"dce612eb.74323","x":990,"y":340,"wires":[]},{"id":"3e8ab445.273d6c","type":"comment","z":"f6f2187d.f17ca8","name":"Uplink // Chirpstack","info":"","x":290,"y":300,"wires":[]},{"id":"3fa3445f.60d29c","type":"comment","z":"f6f2187d.f17ca8","name":"Downlink // Chirpstack","info":"","x":780,"y":300,"wires":[]},{"id":"4cb3a69b.e7f888","type":"ui_button","z":"f6f2187d.f17ca8","d":true,"name":"","group":"bebae5fa.90e0e8","order":3,"width":0,"height":0,"passthru":false,"label":"SEND !","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"downlinks\":[{\"f_port\":9,\"frm_payload\":\"AA==\",\"priority\":\"NORMAL\"}]}","payloadType":"json","topic":"payload","topicType":"msg","x":740,"y":340,"wires":[["2e79c29f.d6cc9e","d24de30a.6327f","1be4d4d2.cc3a3b","a948d4c2.19c718"]]},{"id":"1be4d4d2.cc3a3b","type":"ui_text","z":"f6f2187d.f17ca8","d":true,"group":"bebae5fa.90e0e8","order":1,"width":0,"height":0,"name":"","label":"Port","format":"{{payload.downlinks[0].f_port}}","layout":"row-spread","className":"","x":970,"y":440,"wires":[]},{"id":"d24de30a.6327f","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":400,"wires":[]},{"id":"a948d4c2.19c718","type":"ui_text","z":"f6f2187d.f17ca8","d":true,"group":"bebae5fa.90e0e8","order":2,"width":0,"height":0,"name":"","label":"Frm_payload","format":"{{payload.downlinks[0].frm_payload}}","layout":"row-spread","className":"","x":990,"y":480,"wires":[]},{"id":"e96a3524.f51448","type":"ui_button","z":"f6f2187d.f17ca8","d":true,"name":"","group":"44d67524.31875c","order":4,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":250,"y":400,"wires":[["2c41c573.55891a","533acdc7.8c6544","32c19c9c.429564"]]},{"id":"560d12be.a61e5c","type":"comment","z":"f6f2187d.f17ca8","name":"LRWAN1","info":"","x":80,"y":100,"wires":[]},{"id":"196459be.941ae6","type":"comment","z":"f6f2187d.f17ca8","name":"STM32WL","info":"","x":80,"y":540,"wires":[]},{"id":"33b0ff47.970f1","type":"comment","z":"f6f2187d.f17ca8","name":"LRWAN1","info":"","x":80,"y":340,"wires":[]},{"id":"5b203179.309a7","type":"mqtt in","z":"f6f2187d.f17ca8","name":"from Chirpstack","topic":"application/1/device/0080e1150500d9f1/event/up","qos":"2","datatype":"json","broker":"dce612eb.74323","inputs":0,"x":280,"y":540,"wires":[["15ee0935.205087","9f65d7a3.b82b38","47f08b9b.ae3044"]]},{"id":"15ee0935.205087","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":540,"wires":[]},{"id":"9f65d7a3.b82b38","type":"ui_text","z":"f6f2187d.f17ca8","group":"3757b968.14a5e6","order":1,"width":0,"height":0,"name":"","label":"Device ID","format":"{{payload.deviceName}}","layout":"row-spread","className":"","x":520,"y":580,"wires":[]},{"id":"47f08b9b.ae3044","type":"ui_text","z":"f6f2187d.f17ca8","group":"3757b968.14a5e6","order":2,"width":0,"height":0,"name":"","label":"Frame Payload","format":"{{payload.data}}","layout":"row-spread","className":"","x":540,"y":620,"wires":[]},{"id":"893acb6e.c74278","type":"mqtt out","z":"f6f2187d.f17ca8","name":"to Chirpstack","topic":"application/1/device/0080e1150500d9f1/command/down","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dce612eb.74323","x":990,"y":540,"wires":[]},{"id":"e4ea3c28.80f25","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"a8417d22.fcb47","order":3,"width":0,"height":0,"passthru":false,"label":"SEND !","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"confirmed\":false,\"fPort\":5,\"data\":\"AQ==\"}","payloadType":"json","topic":"payload","topicType":"msg","x":740,"y":540,"wires":[["893acb6e.c74278","a76fc97e.dea4e8","fcc6f322.2f9e7","57983e19.0abb3"]]},{"id":"fcc6f322.2f9e7","type":"ui_text","z":"f6f2187d.f17ca8","group":"a8417d22.fcb47","order":1,"width":0,"height":0,"name":"","label":"Port","format":"{{payload.fPort}}","layout":"row-spread","className":"","x":970,"y":640,"wires":[]},{"id":"a76fc97e.dea4e8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":600,"wires":[]},{"id":"57983e19.0abb3","type":"ui_text","z":"f6f2187d.f17ca8","group":"a8417d22.fcb47","order":2,"width":0,"height":0,"name":"","label":"Frm_payload","format":"{{payload.data}}","layout":"row-spread","className":"","x":990,"y":680,"wires":[]},{"id":"7fa9291f.3da2f8","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"3757b968.14a5e6","order":3,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":250,"y":600,"wires":[["9f65d7a3.b82b38","47f08b9b.ae3044"]]},{"id":"ca17fb6f.8b41d8","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"a8417d22.fcb47","order":4,"width":7,"height":1,"passthru":false,"label":"Led ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"confirmed\":false,\"fPort\":2,\"data\":\"AQ==\"}","payloadType":"json","topic":"payload","topicType":"msg","x":740,"y":580,"wires":[["893acb6e.c74278"]]},{"id":"85764ab4.101788","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"a8417d22.fcb47","order":5,"width":7,"height":1,"passthru":false,"label":"Led OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"confirmed\":false,\"fPort\":2,\"data\":\"AA==\"}","payloadType":"json","topic":"payload","topicType":"msg","x":740,"y":620,"wires":[["893acb6e.c74278"]]},{"id":"67104951.d72f78","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"a8417d22.fcb47","order":6,"width":7,"height":1,"passthru":false,"label":"Class A","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"confirmed\":false,\"fPort\":3,\"data\":\"AA==\"}","payloadType":"json","topic":"payload","topicType":"msg","x":740,"y":660,"wires":[["893acb6e.c74278"]]},{"id":"2506765f.092c4a","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"a8417d22.fcb47","order":7,"width":7,"height":1,"passthru":false,"label":"Class C","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"confirmed\":false,\"fPort\":3,\"data\":\"Ag==\"}","payloadType":"json","topic":"payload","topicType":"msg","x":740,"y":700,"wires":[["893acb6e.c74278"]]},{"id":"f52b28ebdf79a64d","type":"comment","z":"f6f2187d.f17ca8","name":"STM32WL","info":"","x":80,"y":820,"wires":[]},{"id":"0f42490f8d5f711f","type":"mqtt in","z":"f6f2187d.f17ca8","name":"from TTN","topic":"v3/stm32wl-test-dwlink@ttn/devices/+/+","qos":"2","datatype":"json","broker":"0caabba54c313b2d","nl":false,"rap":false,"inputs":0,"x":260,"y":820,"wires":[["3cbc430f09af8c20","15f7133020fe330f","2237278c513cdd22"]]},{"id":"3cbc430f09af8c20","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":820,"wires":[]},{"id":"15f7133020fe330f","type":"ui_text","z":"f6f2187d.f17ca8","group":"a765d604a9b50502","order":1,"width":0,"height":0,"name":"","label":"Device ID","format":"{{payload.end_device_ids.device_id}}","layout":"row-spread","className":"","x":520,"y":860,"wires":[]},{"id":"2237278c513cdd22","type":"ui_text","z":"f6f2187d.f17ca8","group":"a765d604a9b50502","order":2,"width":0,"height":0,"name":"","label":"Frame Payload","format":"{{payload.uplink_message.frm_payload}}","layout":"row-spread","className":"","x":540,"y":900,"wires":[]},{"id":"77692fcdeb925876","type":"mqtt out","z":"f6f2187d.f17ca8","name":"to TTN","topic":"v3/stm32wl-test-dwlink@ttn/devices/stm32wl/down/replace","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0caabba54c313b2d","x":970,"y":820,"wires":[]},{"id":"68711f5d6110483d","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"57a6b32a729fa492","order":3,"width":0,"height":0,"passthru":false,"label":"SEND !","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"downlinks\":[{\"f_port\":200,\"frm_payload\":\"AA==\",\"priority\":\"NORMAL\"}]}","payloadType":"json","topic":"payload","topicType":"msg","x":740,"y":820,"wires":[["77692fcdeb925876","0a5a0358ef3de8b6","83bdda2e8be23a62","e6d817e78bb058fb"]]},{"id":"83bdda2e8be23a62","type":"ui_text","z":"f6f2187d.f17ca8","group":"57a6b32a729fa492","order":1,"width":0,"height":0,"name":"","label":"Port","format":"{{payload.downlinks[0].f_port}}","layout":"row-spread","className":"","x":970,"y":920,"wires":[]},{"id":"0a5a0358ef3de8b6","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":880,"wires":[]},{"id":"e6d817e78bb058fb","type":"ui_text","z":"f6f2187d.f17ca8","group":"57a6b32a729fa492","order":2,"width":0,"height":0,"name":"","label":"Frm_payload","format":"{{payload.downlinks[0].frm_payload}}","layout":"row-spread","className":"","x":990,"y":960,"wires":[]},{"id":"5abeb15738a086a1","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"a765d604a9b50502","order":3,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":250,"y":880,"wires":[["15f7133020fe330f","2237278c513cdd22"]]},{"id":"de847cf4c365bd7b","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"57a6b32a729fa492","order":4,"width":0,"height":0,"passthru":false,"label":"Led ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"downlinks\":[{\"f_port\":2,\"frm_payload\":\"AQ==\",\"priority\":\"NORMAL\"}]}","payloadType":"json","topic":"payload","topicType":"msg","x":740,"y":860,"wires":[["77692fcdeb925876"]]},{"id":"edf372944f84c63a","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"57a6b32a729fa492","order":5,"width":0,"height":0,"passthru":false,"label":"Led OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"downlinks\":[{\"f_port\":2,\"frm_payload\":\"AA==\",\"priority\":\"NORMAL\"}]}","payloadType":"json","topic":"payload","topicType":"msg","x":740,"y":900,"wires":[["77692fcdeb925876"]]},{"id":"9a3d6570f563da3c","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"57a6b32a729fa492","order":6,"width":0,"height":0,"passthru":false,"label":"Class A","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"downlinks\":[{\"f_port\":3,\"frm_payload\":\"AA==\",\"priority\":\"NORMAL\"}]}","payloadType":"json","topic":"payload","topicType":"msg","x":740,"y":940,"wires":[["77692fcdeb925876"]]},{"id":"22bc7c26b76f9f9b","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"57a6b32a729fa492","order":7,"width":0,"height":0,"passthru":false,"label":"Class C","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"downlinks\":[{\"f_port\":3,\"frm_payload\":\"Ag==\",\"priority\":\"NORMAL\"}]}","payloadType":"json","topic":"payload","topicType":"msg","x":740,"y":980,"wires":[["77692fcdeb925876"]]},{"id":"b951172c485aa977","type":"comment","z":"f6f2187d.f17ca8","name":"Uplink // TTN","info":"","x":270,"y":780,"wires":[]},{"id":"c9dff7c63166a9a1","type":"comment","z":"f6f2187d.f17ca8","name":"Downlink // TTN","info":"","x":760,"y":780,"wires":[]},{"id":"35fad3f87979dec6","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":4,"width":0,"height":0,"name":"","label":"McAddr (big endian, to set in NS side)","format":"{{msg.McAddrBE}}","layout":"row-spread","className":"","x":1150,"y":140,"wires":[]},{"id":"0c4a74efbb38bf83","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":5,"width":0,"height":0,"name":"","label":"McAddr (little endian, to set in command)","format":"{{msg.McAddrLE}}","layout":"row-spread","className":"","x":1160,"y":180,"wires":[]},{"id":"40300718881a36f4","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":6,"width":0,"height":0,"name":"","label":"McKey_encrypted","format":"{{msg.McKey_ENC}}","layout":"row-spread","className":"","x":1090,"y":220,"wires":[]},{"id":"ade4c4596dbcd2de","type":"function","z":"9c4e6328c59086b7","name":"Key derivation","func":"/*\n* Title:    McKey_encrypted generator + McAddr_Generator\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  > randHex function from https://codepen.io/code_monk/pen/kaWvPL\n*\n*/\n\n//  random hex string generator\nvar randHex = function(len) {\n  var maxlen = 8,\n      min = Math.pow(16,Math.min(len,maxlen)-1) \n      max = Math.pow(16,Math.min(len,maxlen)) - 1,\n      n   = Math.floor( Math.random() * (max-min+1) ) + min,\n      r   = n.toString(16);\n  while ( r.length < len ) {\n     r = r + randHex( len - maxlen );\n  }\n  return r;\n};\n\n// randomly generated bigendian McKey_encrypted\nvar McKey_encrypted  = randHex(32);\n\n// randomly generated bigendian McAddr\nvar McAddr_be = randHex(8);\n\n// McAddr little endian conversion\nvar McAddr_le = McAddr_be[6]                            \n                    + McAddr_be[7]\n                    + McAddr_be[4]\n                    + McAddr_be[5]\n                    + McAddr_be[2]\n                    + McAddr_be[3]\n                    + McAddr_be[0]\n                    + McAddr_be[1];\n                    \n// ###############################################################################################################################################################\n\n/*\n* Title:    Keys derivation for LoRaWAN multicast session\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  > LoRaWAN Remote Multicast Setup Specification v1.0.0 (Lora Alliance)\n*           > Deciphering an EU868 LoRaWAN 1.0 OTAA Join Accept [online], available on:\n*             https://runkit.com/avbentem/deciphering-a-lorawan-otaa-join-accept           \n* \n* ## Definitions\n* Device has:   GenAppKey               ( = AppKey, according to LoRaWAN 1.1)\n* It receives:  McKey_encrypted         ( via McGroupSetupReq MAC command)\n*               McAddr                  ( via McGroupSetupReq MAC command)\n* Then,\n* McRootKey = aes128_encrypt(GenAppKey, 0x00 | pad16)\n* McKEKey = aes128_encrypt(McRootKey, 0x00 | pad16)\n* McKey = aes128_decrypt(McKey_encrypted,McKEKey)\n* And then,\n* McAppSKey = aes128_encrypt(McKey, 0x01 | McAddr | pad16)\n* McNetSKey = aes128_encrypt(McKey, 0x02 | McAddr | pad16)\n*\n* To be noted:\n* The octet order over the air for all multi-octet fields is little endian (Least significant byte is \n* sent first). As a consequence, send data used for crypto operations are in little endian too.\n* Howerver, logs device diplay them correctly.\n*\n*\n* Information:\n*           - inputs:   GenAppKey           (from node)                    \n*                       McAddr              (from node, it has to be in little endian)   \n*                       McKey_encrypted     (from node)\n*           - outputs:  McRootKey\n*                       McKEKey\n*                       McKey\n*                       McAppSKey         \n*                       McNetSKey         \n*                       \n*\n*/\n\n// Initialization vector is always zero\nvar LORA_IV = CryptoJS.enc.Hex.parse('00000000000000000000000000000000');\n\n// Encrypts the given buffer, returning another buffer.\nfunction encrypt(buffer, key) {\n    var ciphertext = CryptoJS.AES.encrypt(\n        CryptoJS.lib.WordArray.create(buffer),\n        CryptoJS.lib.WordArray.create(key),\n        {\n            mode: CryptoJS.mode.ECB,\n            iv: LORA_IV,\n            padding: CryptoJS.pad.NoPadding\n        }\n    ).ciphertext.toString(CryptoJS.enc.Hex);\n    return new Buffer(ciphertext, 'hex');\n}\n\n// ## Known data (set or generated) #########################################\n// GenAppKey (or AppKey) programmed in the device\n// var GenAppKey = 'F255B7748A00FF7C22344C3402F6356F';\nvar GenAppKey = msg.payload;\nGenAppKey = Buffer.from(GenAppKey.toString(16), 'hex');\n\n// McKey_encrypted\n// var McKey_encrypted = '6B46B8386CB3B7697B2674526E98209B';\nMcKey_encrypted = Buffer.from(McKey_encrypted.toString(16), 'hex');\n\n// McAdrr\n// var McAddr = 'F03D292B';\nMcAddr_le = Buffer.from(McAddr_le.toString(16), 'hex'); // normal address:F03D2928 --> little endian:28293DF0\n                                             \n// ## Key derivation to have McRootKey ######################################\n// McRootKey = aes128_encrypt(GenAppKey, 0x00 | pad16)\nvar sKey_root = Buffer.from('000000000000000000000000000000', 'hex');\nvar McRootKey = encrypt(Buffer.concat([Buffer.from('00','hex'),sKey_root]),GenAppKey);\n\n// ## Key derivation to have McKEKey\n// McKEKey = aes128_encrypt(McRootKey, 0x00 | pad16)\nvar sKey_ke = Buffer.from('000000000000000000000000000000', 'hex');\nvar McKEKey = encrypt(Buffer.concat([Buffer.from('00','hex'),sKey_ke]),McRootKey);\n\n// ## Key decryption to have McKey ##########################################\n// McKey = aes128_decrypt(McKey_encrypted,McKEKey)\nvar McKey = encrypt(McKey_encrypted,McKEKey);\n\n\n// ## Key derivation to have McAppsKey and McNetSKey ########################\n// McAppSKey = aes128_encrypt(McKey, 0x01 | McAddr | pad16)\nvar sKey_apps = Buffer.concat([\n                        McAddr_le,\n                        Buffer.from('00000000000000000000000', 'hex')\n                        ]);\nvar McAppSKey = encrypt(Buffer.concat([Buffer.from('01','hex'),sKey_apps]),McKey);\n\n// McNetSKey = aes128_encrypt(McKey, 0x02 | McAddr | pad16)\nvar sKey_nets = Buffer.concat([\n                        McAddr_le,\n                        Buffer.from('00000000000000000000000', 'hex')\n                        ]);\nvar McNetSKey = encrypt(Buffer.concat([Buffer.from('02','hex'),sKey_nets]),McKey);\n\n\n\n// output\n\nif (msg.payload.length == 32){\n    \n    msg.McAddrLE=McAddr_le.toString('hex');                // McAddr little endian\n    msg.McAddrBE=McAddr_be;                             // McAddr big endian\n    msg.McKey_ENC=McKey_encrypted.toString('hex');         // McKey_encrypted\n    msg.McRootKEY=McRootKey.toString('hex');               // McRootKey\n    msg.McKEKEY=McKEKey.toString('hex');                   // McKEKey\n    msg.McKEY=McKey.toString('hex');                   // McKey\n    msg.McAppSKEY=McAppSKey.toString('hex');               // McAppSKey\n    msg.McNetSKEY=McNetSKey.toString('hex');               // McNetSKey\n    \n    msg.state = \"1\";\n    \n    return msg;\n}\nelse\n{\n    msg.McAddrLE=McAddr_le.toString('hex');                // McAddr little endian\n    msg.McAddrBE=McAddr_be.toString('hex');                             // McAddr big endian\n    msg.McKey_ENC=McKey_encrypted.toString('hex');         // McKey_encrypted\n    msg.McRootKEY=\"Error. Check the GenAppKey length\";                              // McRootKey\n    msg.McKEKEY=\"Error. Check the GenAppKey length\";                                // McKEKey\n    msg.McKEY=\"Error. Check the GenAppKey length\";                   // McKey\n    msg.McAppSKEY=\"Error. Check the GenAppKey length\";                              // McAppSKey\n    msg.McNetSKEY=\"Error. Check the GenAppKey length\";                              // McNetSKey\n    msg.state = \"0\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"reverse","module":"buffer-reverse"},{"var":"CryptoJS","module":"crypto-js"},{"var":"nodeAesCmac","module":"node-aes-cmac"}],"x":820,"y":140,"wires":[["7d38524899ef47fd","35fad3f87979dec6","0c4a74efbb38bf83","40300718881a36f4","fef3c2f2fdb8a4bd","b12e24ece538f6fe","8edc73fdf2b98e19","d3854bb976aa77cd","47c0cb33e5e56922","5882a758dc5dfea8"]]},{"id":"7d38524899ef47fd","type":"debug","z":"9c4e6328c59086b7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":100,"wires":[]},{"id":"fef3c2f2fdb8a4bd","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":8,"width":0,"height":0,"name":"","label":"McRootKey","format":"{{msg.McRootKEY}}","layout":"row-spread","className":"","x":1070,"y":260,"wires":[]},{"id":"1fbcf5c7b61f10e8","type":"inject","z":"9c4e6328c59086b7","name":"Init, empty string","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"f255b7748a00ff7c22344c3402f6356f","payloadType":"str","x":130,"y":140,"wires":[["81db979eefc839a7"]]},{"id":"81db979eefc839a7","type":"ui_text_input","z":"9c4e6328c59086b7","name":"","label":"GenAppKey","tooltip":"","group":"f48663973273d0a3","order":1,"width":10,"height":2,"passthru":true,"mode":"text","delay":"100","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":310,"y":140,"wires":[["0c215c3ab590a579"]]},{"id":"bf4f38aa8594b388","type":"ui_button","z":"9c4e6328c59086b7","name":"","group":"f48663973273d0a3","order":2,"width":0,"height":0,"passthru":false,"label":"Generate","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"textInput","payloadType":"flow","topic":"","topicType":"str","x":660,"y":140,"wires":[["ade4c4596dbcd2de"]]},{"id":"0c215c3ab590a579","type":"change","z":"9c4e6328c59086b7","name":"","rules":[{"t":"set","p":"textInput","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["bf4f38aa8594b388"]]},{"id":"b12e24ece538f6fe","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":9,"width":0,"height":0,"name":"","label":"McKEKey","format":"{{msg.McKEKEY}}","layout":"row-spread","className":"","x":1060,"y":300,"wires":[]},{"id":"8edc73fdf2b98e19","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":11,"width":0,"height":0,"name":"","label":"McKey","format":"{{msg.McKEY}}","layout":"row-spread","className":"","x":1050,"y":340,"wires":[]},{"id":"d3854bb976aa77cd","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":13,"width":0,"height":0,"name":"","label":"McAppsKey","format":"{{msg.McAppSKEY}}","layout":"row-spread","className":"","x":1070,"y":380,"wires":[]},{"id":"47c0cb33e5e56922","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":14,"width":0,"height":0,"name":"","label":"McNetsKey","format":"{{msg.McNetSKEY}}","layout":"row-spread","className":"","x":1070,"y":420,"wires":[]},{"id":"4fe0327f1554c6d8","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":390,"y":300,"wires":[]},{"id":"dcd1aacf497a9456","type":"inject","z":"9c4e6328c59086b7","name":"GENERATED KEYS ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"GENERATED KEYS --------------------------------------------------------","payloadType":"str","x":160,"y":300,"wires":[["4fe0327f1554c6d8"]]},{"id":"15d317436bbdc795","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":7,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":390,"y":340,"wires":[]},{"id":"982ac3ea79275166","type":"inject","z":"9c4e6328c59086b7","name":"DERIVED KEYS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"DERIVED KEYS ----------------------------------------------------------","payloadType":"str","x":150,"y":340,"wires":[["15d317436bbdc795"]]},{"id":"f1f888044f39481e","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":10,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":390,"y":380,"wires":[]},{"id":"4fbbe337fa863fd7","type":"inject","z":"9c4e6328c59086b7","name":"DECRYPTED KEYS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"DECRYPTED KEYS --------------------------------------------------------","payloadType":"str","x":160,"y":380,"wires":[["f1f888044f39481e"]]},{"id":"dd4a54f6d591b023","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":12,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":390,"y":420,"wires":[]},{"id":"c50a8ea348563655","type":"inject","z":"9c4e6328c59086b7","name":"MULTICAST SESSION KEYS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"MULTICAST SESSION KEYS ----------------------------------------------","payloadType":"str","x":190,"y":420,"wires":[["dd4a54f6d591b023"]]},{"id":"d3343cdc8e13dd67","type":"comment","z":"9c4e6328c59086b7","name":"For Dashboard","info":"","x":120,"y":240,"wires":[]},{"id":"f6db0073e1c13c32","type":"comment","z":"9c4e6328c59086b7","name":"Multicast session generator","info":"","x":150,"y":80,"wires":[]},{"id":"e668bf934733e17e","type":"comment","z":"9c4e6328c59086b7","name":"McGroupSetupReq (0x02)","info":"","x":150,"y":840,"wires":[]},{"id":"e45a07f50e19322d","type":"ui_form","z":"9c4e6328c59086b7","name":"McGroupSetupReq","label":"","group":"6981c805a4790f2a","order":1,"width":11,"height":1,"options":[{"label":"McGroupID (0 to 3)","value":"McGroupID","type":"text","required":true,"rows":null},{"label":"McAddr","value":"McAddr","type":"text","required":true,"rows":null},{"label":"McKey_encrypted","value":"McKey_encrypted","type":"text","required":true,"rows":null},{"label":"minMcFCount (hex, 4 bytes)","value":"minMcFCount","type":"text","required":true,"rows":null},{"label":"maxMcFCount (hex, 4 bytes)","value":"maxMcFCount","type":"text","required":true,"rows":null}],"formValue":{"McGroupID":"","McAddr":"","McKey_encrypted":"","minMcFCount":"","maxMcFCount":""},"payload":"","submit":"Create command","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":130,"y":880,"wires":[["db300dd4b4811fa0"]]},{"id":"db300dd4b4811fa0","type":"function","z":"9c4e6328c59086b7","name":"McGroupSetupReq","func":"/*\n* Title:    Mc LoRaWAN command: McGroupSetupReq\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  > LoRaWAN Application Layer Clock Synchronization Specification v1.0.0 (Lora Alliance)\n*           > LoRaWAN Remote Multicast Setup Specification v1.0.0 (Lora Alliance)\n*\n* McGroupSetupReq payload:\n*          | McGroupIDHeader  | McAddr    | McKey_encrypted   | minMcFCount   | maxMcFCount   | \n*          | 1 byte           | 4 bytes   | 16 bytes          | 4 bytes       | 4 bytes       |\n*\n* McGroupSetupReq command CID: 0x02\n*\n* Information:\n*           - inputs:   McGroupID                    \n*                       McAddr              (from node, it has to be in little endian)    \n*                       McKey_encrypted     (from node)\n*                       minMcFCount\n*                       maxMcFCount\n*           - outputs:  McGroupSetupReq\n*                       minMcFCount (dec format)\n*                       maxMcFCount (dec format)\n*                       \n*                                          \n*/\n\n// McGroupIDHeader (1 byte) / 6-bits RFU + 2-bits McGroupID\nvar RFU = '0';\n// var McGroupID = '1'; // 0, 1, 2, or 3\nvar McGroupID = msg.payload.McGroupID;\nvar McGroupIDHeader = Buffer.from(RFU + McGroupID, 'hex');\n\n// McAddr (4 byte)\n// var McAddr = 'F03D292B';\nvar McAddr = msg.payload.McAddr;\nMcAddr = Buffer.from(McAddr, 'hex');\n\n// McKey_encrypted (16 bytes)\n// var McKey_encrypted = '6B46B8386CB3B7697B2674526E98209B';\nvar McKey_encrypted = msg.payload.McKey_encrypted;\nMcKey_encrypted = Buffer.from(McKey_encrypted, 'hex');\n\n// minMcFCount (4 bytes)\n// var minMcFCount = '00000000';\nvar minMcFCount = msg.payload.minMcFCount;\nminMcFCount = minMcFCount.toString(16);\nvar minMcFCount_le = minMcFCount[6]                             // little endian conversion\n                    + minMcFCount[7]\n                    + minMcFCount[4]\n                    + minMcFCount[5]\n                    + minMcFCount[2]\n                    + minMcFCount[3]\n                    + minMcFCount[0]\n                    + minMcFCount[1];\nminMcFCount_le = Buffer.from(minMcFCount_le, 'hex');\nvar minMcFCount_dec = parseInt(minMcFCount,16);                 // passage en decimal\n\n// maxMcFCount (4 bytes)\n// var maxMcFCount = '0000000A'\nvar maxMcFCount = msg.payload.maxMcFCount;\nmaxMcFCount = maxMcFCount.toString(16);\nvar maxMcFCount_le = maxMcFCount[6]                             // little endian conversion\n                    + maxMcFCount[7]\n                    + maxMcFCount[4]\n                    + maxMcFCount[5]\n                    + maxMcFCount[2]\n                    + maxMcFCount[3]\n                    + maxMcFCount[0]\n                    + maxMcFCount[1];\nmaxMcFCount_le = Buffer.from(maxMcFCount_le, 'hex');\nvar maxMcFCount_dec = parseInt(maxMcFCount,16);                 // passage en decimal\n\n\n// McGroupSetupReq\nvar Command_02 = Buffer.from('02', 'hex');\nvar McGroupSetupReq = Buffer.concat([\n                        Command_02,\n                        McGroupIDHeader,\n                        McAddr,\n                        McKey_encrypted,\n                        minMcFCount_le,\n                        maxMcFCount_le                        \n                        ]);\n\n// ############################################################################\n\n\n//msg.mcaddrlittle = McAddr.toString('hex');\n//msg.mckeyencrypted = McKey_encrypted.toString('hex');\nmsg.McGroupSetupReq = McGroupSetupReq.toString('hex');\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":880,"wires":[["76e86ffad473dfb2"]]},{"id":"76e86ffad473dfb2","type":"ui_text","z":"9c4e6328c59086b7","group":"6981c805a4790f2a","order":2,"width":11,"height":1,"name":"","label":"McGroupSetupReq command","format":"{{msg.McGroupSetupReq}}","layout":"col-center","className":"","x":630,"y":880,"wires":[]},{"id":"0d970ca7bd61b72e","type":"comment","z":"9c4e6328c59086b7","name":"McClassCSessionReq (0x04)","info":"","x":160,"y":980,"wires":[]},{"id":"40e6e54555fdd00e","type":"ui_form","z":"9c4e6328c59086b7","name":"McClassCSessionReq ","label":"","group":"8be7a72d5783bb58","order":1,"width":10,"height":1,"options":[{"label":"McGroupID (0 to 3)","value":"McGroupID","type":"text","required":true,"rows":null},{"label":"SessionTime (date)","value":"SessionTime_date","type":"date","required":true,"rows":null},{"label":"SessionTime (time)","value":"SessionTime_time","type":"time","required":true,"rows":null},{"label":"TimeOut (0 to 15)","value":"TimeOut","type":"text","required":true,"rows":null},{"label":"Downlink Frequency in Hz (e.g.: 869525000)","value":"DLFreq","type":"text","required":true,"rows":null},{"label":"DataRate (e.g.: 3)","value":"DR","type":"text","required":true,"rows":null}],"formValue":{"McGroupID":"","SessionTime_date":"","SessionTime_time":"","TimeOut":"","DLFreq":"","DR":""},"payload":"","submit":"Create command","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":140,"y":1020,"wires":[["c32f5f0d6ef9a0d2"]]},{"id":"c32f5f0d6ef9a0d2","type":"function","z":"9c4e6328c59086b7","name":"McClassCSessionReq","func":"/*\n* Title:    Mc LoRaWAN command: McClassCSessionReq\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  > LoRaWAN Application Layer Clock Synchronization Specification v1.0.0 (Lora Alliance)\n*           > LoRaWAN Remote Multicast Setup Specification v1.0.0 (Lora Alliance)\n*\n* McClassCSessionReq payload:\n*          | McGroupIDHeader  | SessionTime     | SessionTimeOut    | DLFrequ   | DR        | \n*          | 1 byte           | 4 bytes         | 1 byte            | 3 bytes   | 1 byte    |\n*\n* McClassCSessionReq command CID: 0x04\n*\n* Information:\n*           - inputs:   McGroupID           \n*                       SessionTime (Y,M,D,H,M,S)              \n*                       TimeOut\n*                       DLFreq\n*                       DR\n*           - outputs:  McClassCSessionReq\n*                       Session Time (date format)\n*                       SessionTimeOut (date format)\n*                                          \n*/\n\n//  ## Date calculation\n// GPS origin\nvar Origin = new Date('1980-01-06 00:00:00');\n// Desired date\nvar Desired_date = Date.parse(msg.payload.SessionTime_date);        // Y, M, D // \"parse\" turns the date into the number of ms passed since 1970-01-01.\nvar Desired_time = Date.parse(msg.payload.SessionTime_time);        // H, M\n\n// Difference calculation\nvar offset_time = Date.parse('1970-01-01 00:00:00');\nvar Desired = Desired_date + Desired_time - offset_time - Origin;   // time ( = hours and minuts) is set with an offset of 1970-01-01. So, I take the offset away.\nDesired=Desired+7200000;    // 2 hours are added to synch with our time (UTC+01). Added twice because there are a Date(Y,M,D) setup AND a time (H,M) setup.\nvar Diff = Desired/1000;      // difference in seconds\n\n// RFU (multiple use)\nvar RFU = '0';\n\n\n// ## McClassCSessionReq definition -------------------------------------------------------------\n// McGroupIDHeader (1 byte)\nvar McGroupID = msg.payload.McGroupID;                                              // To set ! (0,1,2 or 3)\nvar McGroupIDHeader = Buffer.from(RFU + McGroupID.toString(10), 'hex');\n\n// Session Time (4 bytes)\nvar SessionTime = Diff.toString(16);       // hex to string conversion\nvar SessionTime_le = SessionTime[6]        // little endian conversion\n                    + SessionTime[7]\n                    + SessionTime[4]\n                    + SessionTime[5]\n                    + SessionTime[2]\n                    + SessionTime[3]\n                    + SessionTime[0]\n                    + SessionTime[1];\nSessionTime_le = Buffer.from(SessionTime_le, 'hex');\n\n// SessionTimeOut \nvar TimeOut_r = msg.payload.TimeOut;                                                     // To set ! (0 --> 15)\nvar TimeOut = parseInt(TimeOut_r,10);   \nvar TimeOut_hex = parseInt(TimeOut.toString(16), 16);\nvar TimeOutSec = 2**TimeOut; // 2^TimeOut\nvar SessionTimeOut = Buffer.from(RFU + TimeOut_hex.toString(16), 'hex');\n\n// DLFreq (3 bytes)\nvar freq_r = msg.payload.DLFreq;\nvar freq = parseInt(freq_r,10);                                               // To set ! \nvar freq_hex = parseInt((freq/100).toString(16), 16);       // dec to hex conversion\nvar freq_hex_str = freq_hex.toString(16);                   // hex to string conversion\nvar freq_hex_str_le = freq_hex_str[4]                       // little endian conversion\n                    + freq_hex_str[5]\n                    + freq_hex_str[2]\n                    + freq_hex_str[3]\n                    + freq_hex_str[0]\n                    + freq_hex_str[1];\nfreq_hex_str_le = Buffer.from(freq_hex_str_le, 'hex');\n\n// DR (1 byte)\nvar DR_r = msg.payload.DR;                                                         // To set ! \nvar DR = parseInt(DR_r,10);\nvar DR_hex = parseInt(DR.toString(16), 16);                         // dec to hex conversion\nvar DR_hex_str = Buffer.from('0' + DR_hex.toString(16), 'hex');     // hex to string conversion\nDR_hex_str = Buffer.from(DR_hex_str, 'hex');\n\n// McClassCSessionReq\nvar Command_04 = Buffer.from('04', 'hex');\n// var McClassCSessionReq = Command + McGroupIDHeader + SessionTime_le + SessionTimeOut + freq_hex_str_le + DR_hex_str;\n\nvar McClassCSessionReq = Buffer.concat([\n                        Command_04,\n                        McGroupIDHeader,\n                        SessionTime_le,\n                        SessionTimeOut,\n                        freq_hex_str_le,\n                        DR_hex_str                        \n                        ]);\n                        \n                        \n\n\n\n\nmsg.desiredtime = Diff;\nmsg.McClassCSessionReq_command = McClassCSessionReq.toString('hex');\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1020,"wires":[["0846a7d2708b718d"]]},{"id":"0846a7d2708b718d","type":"ui_text","z":"9c4e6328c59086b7","group":"8be7a72d5783bb58","order":2,"width":10,"height":1,"name":"","label":"McClassCSessionReq command","format":"{{msg.McClassCSessionReq_command}}","layout":"col-center","className":"","x":620,"y":1020,"wires":[]},{"id":"5882a758dc5dfea8","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":15,"width":0,"height":0,"name":"","label":"McAddr ( = DevAddr of the multicast group)","format":"{{msg.McAddrBE}}","layout":"row-spread","className":"","x":1170,"y":460,"wires":[]},{"id":"ede6933261f6901c","type":"mqtt out","z":"9c4e6328c59086b7","name":"to Mosquitto ONLINE","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0b5f9950f773f2db","x":500,"y":1220,"wires":[]},{"id":"d6920e03b868964b","type":"function","z":"9c4e6328c59086b7","name":"JSON downlink setup","func":"\n// McGroupIDHeader (1 byte)\nvar command = msg.payload.thepayload;   \nvar deveui = msg.payload.deveui;\nvar port = msg.payload.port;\nvar topic = \"mqtt/things/\" + deveui + \"/downlink\";\n\n// var P=\n// {\n//     \"topic\": \"test/un\",\n    \t\n// \t\"DevEUI_downlink\": {\n// \t\t\"DevEUI\": deveui,\n// \t\t\"FPort\": port,\n// \t\t\"payload_hex\": command,\n// \t\t\"Confirmed\": \"0\",\n// \t\t\"FlushDownlinkQueue\": \"1\"    \n// \t}\n\t\n\n// }\n\n\n\n// msg = JSON.stringify(P);\n\nvar P=\n{\n    \"topic\": topic,\n    \n}\n\nP.payload = \n{\n\t\"DevEUI_downlink\": {\n\t\t\"DevEUI\": deveui,\n\t\t\"FPort\": port,\n\t\t\"payload_hex\": command,\n\t\t\"Confirmed\": \"0\",\n\t\t\"FlushDownlinkQueue\": \"1\"    \n\t}\n\t\n}\n\n\nmsg=P;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1220,"wires":[["ede6933261f6901c"]]},{"id":"d8e807fc43412fc4","type":"ui_form","z":"9c4e6328c59086b7","name":"Downlink","label":"","group":"5c1b38e3407d4958","order":1,"width":8,"height":1,"options":[{"label":"DevEUI","value":"deveui","type":"text","required":true,"rows":null},{"label":"Port","value":"port","type":"text","required":true,"rows":null},{"label":"Payload","value":"thepayload","type":"text","required":true,"rows":null}],"formValue":{"deveui":"","port":"","thepayload":""},"payload":"","submit":"SEND","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":100,"y":1220,"wires":[["d6920e03b868964b"]]},{"id":"0d74387e09f63ae0","type":"comment","z":"9c4e6328c59086b7","name":"Downlink","info":"","x":100,"y":1180,"wires":[]},{"id":"fe3f44200a8eb358","type":"mqtt in","z":"9c4e6328c59086b7","name":"from Mosquitto ONLINE","topic":"","qos":"2","datatype":"json","broker":"0b5f9950f773f2db","nl":false,"rap":false,"inputs":1,"x":380,"y":1360,"wires":[["393843160ec6fe85","e9b84c1b387de661","285fb0c4334b00d0","9ac8b6d443089ae5","c0c7590654621078"]]},{"id":"2b68350d62663c77","type":"inject","z":"9c4e6328c59086b7","name":"","props":[{"p":"action","v":"subscribe","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"mqtt/things/+/uplink","x":160,"y":1360,"wires":[["fe3f44200a8eb358"]]},{"id":"ad9a8bcb4e6ba4a9","type":"comment","z":"9c4e6328c59086b7","name":"Uplink listening","info":"","x":120,"y":1300,"wires":[]},{"id":"393843160ec6fe85","type":"function","z":"9c4e6328c59086b7","name":"Uplink study","func":"\n// Uplink analysis\nDevEUI = msg.payload.DevEUI_uplink.DevEUI;\nupport = msg.payload.DevEUI_uplink.FPort;\nFcnt = msg.payload.DevEUI_uplink.FCntUp;\nmessage = msg.payload.DevEUI_uplink.payload_hex;\n\n\n\n// Clock command analysis\nif (upport == \"200\"){\n    \n    message = message.toString('hex');\n\n    if (message[1] == \"0\"){\n        msg.commandtype = \"PackageVersionAns \";\n        msg.analysis = \"Pack.ID: \" + message[2] + message[3] + \" / \" + \"Pack.Ver: \" +message[4] + message[5];\n    }\n    else if(message[1] == \"1\"){\n        msg.commandtype = \"McGroupStatusAns\";\n        var buf = \"--\";\n        if (message.length > 4){buf = message[3];}\n        if (message.length > 15){buf += \"-\" + message[15];}\n        if (message.length > 27){buf += \"-\" + message[27];}\n        if (message.length > 38){buf += \"-\" + message[38];}\n        msg.analysis = \"Nb.Group: \" + message[2] + \" / \" + \"Group defined: \" + buf;\n    }\n    else if(message[1] == \"2\"){\n        msg.commandtype = \"McGroupSetupAns \";\n        var grp = parseInt(message[3].toString(16),16);\n        if (grp>3){ // bit IDerror == 1\n            msg.analysis = \"Setup group \" + grp-4 + \" aborted\";\n        }\n        else{\n            msg.analysis = \"Setup group \" + grp + \" successful\";\n        }\n    }\n    else if(message[1] == \"3\"){\n        msg.commandtype = \"McGroupDeleteAns \";\n        var grpb = parseInt(message[3].toString(16),16);\n        if (grpb>3){ // bit IDerror == 1\n            msg.analysis = \"Delete group \" + grpb-4 + \" failed\";\n        }\n        else{\n            msg.analysis = \"Delete group \" + grpb + \" successful\";\n        }\n    }\n    else if(message[1] == \"4\"){\n        msg.commandtype = \"McClassCSessionAns \";\n        var grpc = parseInt(message[3].toString(16),16);\n        if(grpc>10){\n            msg.analysis = \"Request aborted\";\n        }\n        else{\n            //var tps = message[8]+message[9]+message[6]+message[7]+message[4]+message[5];\n            //var tps_dec =  parseInt(message[1].toString(16),16); // sec\n            msg.analysis = \"C session setup group \" +  message[3];\n        }\n    }\n\n    else{\n        msg.commandtype = \"...\";\n        msg.analysis = \"...\";\n    }\n    \n}\nelse{\n    msg.commandtype = \"...\";\n    msg.analysis = \"...\";\n}\n\n\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1460,"wires":[["b76dd1eba5aabfae","6d57e92c7eadf366"]]},{"id":"e9b84c1b387de661","type":"ui_text","z":"9c4e6328c59086b7","group":"ce10c98edc29ac62","order":1,"width":6,"height":1,"name":"","label":"DevEUI","format":"{{msg.payload.DevEUI_uplink.DevEUI}}","layout":"row-spread","className":"","x":620,"y":1300,"wires":[]},{"id":"285fb0c4334b00d0","type":"ui_text","z":"9c4e6328c59086b7","group":"ce10c98edc29ac62","order":4,"width":6,"height":1,"name":"","label":"Port","format":"{{msg.payload.DevEUI_uplink.FPort}}","layout":"row-spread","className":"","x":630,"y":1340,"wires":[]},{"id":"9ac8b6d443089ae5","type":"ui_text","z":"9c4e6328c59086b7","group":"ce10c98edc29ac62","order":3,"width":6,"height":1,"name":"","label":"Fcnt","format":"{{msg.payload.DevEUI_uplink.FCntUp}}","layout":"row-spread","className":"","x":650,"y":1380,"wires":[]},{"id":"b76dd1eba5aabfae","type":"ui_text","z":"9c4e6328c59086b7","group":"ce10c98edc29ac62","order":2,"width":7,"height":2,"name":"","label":"Command type","format":"{{msg.commandtype}}","layout":"col-center","className":"","x":740,"y":1460,"wires":[]},{"id":"6d57e92c7eadf366","type":"ui_text","z":"9c4e6328c59086b7","group":"ce10c98edc29ac62","order":5,"width":7,"height":2,"name":"","label":"Command analysis","format":"{{msg.analysis}}","layout":"col-center","className":"","x":790,"y":1500,"wires":[]},{"id":"c0c7590654621078","type":"ui_text","z":"9c4e6328c59086b7","group":"ce10c98edc29ac62","order":6,"width":6,"height":1,"name":"","label":"Payload","format":"{{msg.payload.DevEUI_uplink.payload_hex}}","layout":"row-spread","className":"","x":680,"y":1420,"wires":[]},{"id":"5c871e80a2361c14","type":"comment","z":"9c4e6328c59086b7","name":"PackageVersionReq  command (0x00)","info":"","x":190,"y":520,"wires":[]},{"id":"44180729280a05e1","type":"ui_text","z":"9c4e6328c59086b7","group":"1f5263f560ceadfe","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":450,"y":560,"wires":[]},{"id":"1a0ac51f66b482d3","type":"ui_template","z":"9c4e6328c59086b7","group":"1f5263f560ceadfe","name":"Info","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<!--<head>-->\n<!--\t<title>Hello</title>-->\n\n<!--\t<h1>Hello World</h1>-->\n<!--</head>-->\n<body>\n    \n<p><em>Payload is fixed</em></p>\n\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":90,"y":560,"wires":[[]]},{"id":"774dc35ff5615a73","type":"inject","z":"9c4e6328c59086b7","name":"00","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"00","payloadType":"str","x":250,"y":560,"wires":[["44180729280a05e1"]]},{"id":"673bdb37dabe54c2","type":"comment","z":"9c4e6328c59086b7","name":"McGroupStatusReq  command (0x01)","info":"","x":190,"y":620,"wires":[]},{"id":"a6b9ef06e0c64d0b","type":"ui_text","z":"9c4e6328c59086b7","group":"f3fc4dc65da12719","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":450,"y":660,"wires":[]},{"id":"ce1ce926cd98c060","type":"comment","z":"9c4e6328c59086b7","name":"McGroupDeleteReq command (0x03)","info":"","x":190,"y":720,"wires":[]},{"id":"a3a797dd02ca2d57","type":"ui_text","z":"9c4e6328c59086b7","group":"773407c9ade4eb7e","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":450,"y":760,"wires":[]},{"id":"2a7f70fbcbc658e1","type":"ui_dropdown","z":"9c4e6328c59086b7","name":"","label":"Group","tooltip":"","place":"Select option","group":"f3fc4dc65da12719","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":"0101","type":"str"},{"label":"1","value":"0102","type":"str"},{"label":"0-1","value":"0103","type":"str"},{"label":"2","value":"0104","type":"str"},{"label":"0-2","value":"0105","type":"str"},{"label":"1-2","value":"0106","type":"str"},{"label":"0-1-2","value":"0107","type":"str"},{"label":"3","value":"0108","type":"str"},{"label":"0-3","value":"0109","type":"str"},{"label":"1-3","value":"010A","type":"str"},{"label":"0-1-3","value":"010B","type":"str"},{"label":"2-3","value":"010C","type":"str"},{"label":"0-2-3","value":"010D","type":"str"},{"label":"1-2-3","value":"010E","type":"str"},{"label":"0-1-2-3","value":"010F","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":90,"y":660,"wires":[["a6b9ef06e0c64d0b"]]},{"id":"1c0e4efaac209da7","type":"ui_dropdown","z":"9c4e6328c59086b7","name":"","label":"Group","tooltip":"","place":"Select option","group":"773407c9ade4eb7e","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":"0300","type":"str"},{"label":"1","value":"0301","type":"str"},{"label":"2","value":"0302","type":"str"},{"label":"3","value":"0303","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":90,"y":760,"wires":[["a3a797dd02ca2d57"]]},{"id":"1b24a37496dff902","type":"comment","z":"1aa241be6de675cd","name":"ForceDeviceResyncReq command (0x0301)","info":"","x":230,"y":300,"wires":[]},{"id":"1d6198df.fef53f","type":"ui_template","z":"1aa241be6de675cd","group":"55a4fad94780cc60","name":"Info","order":1,"width":10,"height":"14","format":"<!DOCTYPE html>\n<html>\n<!--<head>-->\n<!--\t<title>Hello</title>-->\n\n<!--\t<h1>Hello World</h1>-->\n<!--</head>-->\n<body>\n\n<p><strong>CLOCK SYNCHRONIZATION OBJECTIVES</strong></p>\n<p>The main goal is to synchronize the real-time clock of an end-device to the network&rsquo;s GPS clock with second accuracy.</p>\n<p>&nbsp;</p>\n\n<p><strong>DASHBOARD PRESENTATION</strong></p>\n<p>This dashboard proposes different commands from the LoRaWAN Application Layer Clock Synchronization. Explanation and commands are from:</p>\n<p><a href=\"https://resources.lora-alliance.org/technical-specifications/lorawan-application-layer-clock-synchronization-specification-v1-0-0\">LoRaWAN&reg; Application Layer Clock Synchronization Specification v1.0.0 (lora-alliance.org)</a></p>\n\n<p>This dashboard offers different commands:</p>\n\n<ul>\n<li><u>PackageVersionReq</u> (CID: 0x00)</li>\n</ul>\n<p>Used by the AS to request the package version implemented by the end-device</p>\n<ul>\n<li><u>DeviceAppTimePeriodicityReq</u> (CID: 0x02)</li>\n</ul>\n<p>Used by the application server for 2 purposes: Set the periodicity at which the end[1]device shall transmit AppTimeReq messages and request an immediate transmission of end-device time.</p>\n<ul>\n<li><u>ForceDeviceResyncReq</u> (CID: 0x03)</li>\n</ul>\n<p>Used by the application server to the end-device to trigger a clock resynchronization.</p>\n<p>&nbsp;</p>\n<p><strong>USMB DOCUMENTATION</strong></p>\n<p>For more information about the Clock Synchronization feature, check:</p>\n<p><a href=\"https://www.univ-smb.fr/lorawan/en/free-book/\">USMB Documentation</a></p>\n\n\n\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":490,"y":40,"wires":[[]]},{"id":"b8bbaadc5b48b68b","type":"comment","z":"1aa241be6de675cd","name":"PackageVersionReq  command (0x00)","info":"","x":210,"y":100,"wires":[]},{"id":"19bb0b3a8fa6b106","type":"comment","z":"1aa241be6de675cd","name":"DeviceAppTimePeriodicityReq  command (0x02..)","info":"","x":240,"y":200,"wires":[]},{"id":"683c77c11067e4a6","type":"mqtt out","z":"1aa241be6de675cd","name":"Publisher","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0b5f9950f773f2db","x":480,"y":440,"wires":[]},{"id":"8ca4c40b54b299ef","type":"function","z":"1aa241be6de675cd","name":"JSON downlink setup","func":"/*\n* Title:    Clock Synchronization - Downlink Setup\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  --\n*\n*/\n\n//!\\\\ topic and paylaod only correct for ThingPark Community NS //!\\\\\n\n// Get values of the form\n// (paths example below are specific to ThingPark Community NS)\nvar command = msg.payload.thepayload;                           //!\\\\ set your own path\nvar deveui = msg.payload.deveui;                                //!\\\\ set your own path\nvar port = msg.payload.port;                                    //!\\\\ set your own path\n\n// Creation of the topic\n// (topic example below is specific to ThingPark Community NS)\nvar topic = \"mqtt/things/\" + deveui + \"/downlink\";              //!\\\\ set your own topic\n\n// Creation of the variable to return\nvar P=\n{\n    \"topic\": topic,             \n}\n\nP.payload =                                                     //!\\\\ set your own payload format\n{\n\t\"DevEUI_downlink\": {\n\t\t\"DevEUI\": deveui,\n\t\t\"FPort\": port,\n\t\t\"payload_hex\": command,\n\t\t\"Confirmed\": \"0\",\n\t\t\"FlushDownlinkQueue\": \"1\"    \n\t}\n\t\n}\n\n\nmsg=P;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":440,"wires":[["683c77c11067e4a6"]]},{"id":"818fb4bb6bb77e8a","type":"ui_form","z":"1aa241be6de675cd","name":"Downlink","label":"","group":"a9b6f0a746d9bfcb","order":1,"width":0,"height":0,"options":[{"label":"DevEUI","value":"deveui","type":"text","required":true,"rows":null},{"label":"Port","value":"port","type":"text","required":true,"rows":null},{"label":"Payload","value":"thepayload","type":"text","required":true,"rows":null}],"formValue":{"deveui":"","port":"","thepayload":""},"payload":"","submit":"SEND","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":120,"y":440,"wires":[["8ca4c40b54b299ef"]]},{"id":"92bc1ec8de9a13ba","type":"comment","z":"1aa241be6de675cd","name":"Downlink","info":"","x":120,"y":400,"wires":[]},{"id":"44967751e3b9d84a","type":"ui_text","z":"1aa241be6de675cd","group":"525df876d07dbfec","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":470,"y":140,"wires":[]},{"id":"32960dd08d12d8a4","type":"ui_text","z":"1aa241be6de675cd","group":"36613ffb2d534ad0","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":470,"y":340,"wires":[]},{"id":"637fd4c58e7859b1","type":"ui_dropdown","z":"1aa241be6de675cd","name":"","label":"Period","tooltip":"","place":"Select option","group":"3ee3732d6215f938","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"2 min","value":"0200","type":"str"},{"label":"4 min","value":"0201","type":"str"},{"label":"8 min","value":"0202","type":"str"},{"label":"17 min","value":"0203","type":"str"},{"label":"34 min","value":"0204","type":"str"},{"label":"1 hour","value":"0205","type":"str"},{"label":"2 hours","value":"0206","type":"str"},{"label":"4 hours","value":"0207","type":"str"},{"label":"9 hours","value":"0208","type":"str"},{"label":"18 hours","value":"0209","type":"str"},{"label":"1 day","value":"020A","type":"str"},{"label":"3 days","value":"020B","type":"str"},{"label":"6 days","value":"020C","type":"str"},{"label":"12 days","value":"020D","type":"str"},{"label":"24 days","value":"020E","type":"str"},{"label":"48 days","value":"020F","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":110,"y":240,"wires":[["fd1f41b16d3a1465"]]},{"id":"fd1f41b16d3a1465","type":"ui_text","z":"1aa241be6de675cd","group":"3ee3732d6215f938","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":370,"y":240,"wires":[]},{"id":"3ed71622081dcc7b","type":"ui_template","z":"1aa241be6de675cd","group":"525df876d07dbfec","name":"Info","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<!--<head>-->\n<!--\t<title>Hello</title>-->\n\n<!--\t<h1>Hello World</h1>-->\n<!--</head>-->\n<body>\n    \n<p><em>Payload is fixed</em></p>\n\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":110,"y":140,"wires":[[]]},{"id":"f9a2ea5decf1203a","type":"inject","z":"1aa241be6de675cd","name":"00","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"00","payloadType":"str","x":270,"y":140,"wires":[["44967751e3b9d84a"]]},{"id":"c99a27164880f976","type":"ui_template","z":"1aa241be6de675cd","group":"36613ffb2d534ad0","name":"Info","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<!--<head>-->\n<!--\t<title>Hello</title>-->\n\n<!--\t<h1>Hello World</h1>-->\n<!--</head>-->\n<body>\n    \n<p><em>Payload is fixed</em></p>\n\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":110,"y":340,"wires":[[]]},{"id":"a30ded22b2508860","type":"inject","z":"1aa241be6de675cd","name":"0301","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0301","payloadType":"str","x":270,"y":340,"wires":[["32960dd08d12d8a4"]]},{"id":"8ed6e62c4094f57b","type":"mqtt in","z":"1aa241be6de675cd","name":"Subscriber","topic":"","qos":"2","datatype":"json","broker":"0b5f9950f773f2db","nl":false,"rap":false,"inputs":1,"x":360,"y":560,"wires":[["64f599dca6155336","217158cd81adf809","3391987144fa35b7","e1c70cef16df686b","cc628538b7de6b72"]]},{"id":"d8ba0ef71d60d5ec","type":"inject","z":"1aa241be6de675cd","name":"Topic to subscribe","props":[{"p":"action","v":"subscribe","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"mqtt/things/+/uplink","x":170,"y":560,"wires":[["8ed6e62c4094f57b"]]},{"id":"7208a6eda91a6593","type":"comment","z":"1aa241be6de675cd","name":"Uplink listening","info":"","x":140,"y":520,"wires":[]},{"id":"64f599dca6155336","type":"function","z":"1aa241be6de675cd","name":"Uplink study","func":"/*\n* Title:    Clock Synchronization - Uplink analyzer\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  LoRaWAN Application Layer Clock Synchronization Specification\n*\n*/\n\n// Uplink analysis\nDevEUI = msg.payload.DevEUI_uplink.DevEUI;              //!\\\\ set your own path\nupport = msg.payload.DevEUI_uplink.FPort;               //!\\\\ set your own path\nFcnt = msg.payload.DevEUI_uplink.FCntUp;                //!\\\\ set your own path\nmessage = msg.payload.DevEUI_uplink.payload_hex;        //!\\\\ set your own path\n\n\n\n// Clock command analysis\nif (upport == \"202\"){\n    \n    message = message.toString('hex');\n\n    if (message[1] == \"0\"){\n        msg.commandtype = \"PackageVersionAns \";\n        msg.analysis = \"Pack.ID: \" + message[2] + message[3] + \" / \" + \"Pack.Ver: \" +message[4] + message[5];\n    }\n    else if(message[1] == \"2\"){\n        msg.commandtype = \"DeviceAppTimePeriodicityAns \";\n        var thedate2 = SecToDate_2(message);\n        msg.analysis = thedate2;\n    }\n    else if(message[1] == \"1\"){\n        msg.commandtype = \"AppTimeReq\";\n        var thedate1 = SecToDate_1(message);\n        msg.analysis = thedate1;\n    }\n    else{\n        msg.commandtype = \"...\";\n        msg.analysis = \"...\";\n    }\n    \n}\nelse{\n    msg.commandtype = \"...\";\n    msg.analysis = \"...\";\n}\n\n\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n// Get time and convert it into date format\nfunction SecToDate_1 (message){\n    \n\n        var DeviceTime = message[8]\n                        + message[9]\n                        + message[6]\n                        + message[7]\n                        + message[4]\n                        + message[5]\n                        + message[2]\n                        + message[3];\n        var DeviceTime_hex = DeviceTime.toString('hex');\n        var DeviceTime_dec = parseInt(DeviceTime_hex, 16);  // sec passed since 06-janv-1980\n        var DeviceTime_date = new Date(1980, 0, 6);                        // Epoch\n        DeviceTime_date.setSeconds(DeviceTime_dec);\n        let DeviceTime_date_format = DeviceTime_date.toLocaleString('fr-FR',{\n                                                weekday: 'long',\n                                                year: 'numeric',\n                                                month: 'long',\n                                                day: 'numeric',\n                                                hour: 'numeric',\n                                                minute: 'numeric',\n                                                second: 'numeric'});\n        \n        DeviceTime_date_format += \" (UTC+0)\";\n        \n        return DeviceTime_date_format;\n\n}\n\n// Get time and convert it into date format\nfunction SecToDate_2 (message){\n    \n\n        var DeviceTime = message[10]\n                        + message[11]\n                        + message[8]\n                        + message[9]\n                        + message[6]\n                        + message[7]\n                        + message[4]\n                        + message[5];\n        var DeviceTime_hex = DeviceTime.toString('hex');\n        var DeviceTime_dec = parseInt(DeviceTime_hex, 16);  // sec passed since 06-janv-1980\n        var DeviceTime_date = new Date(1980, 0, 6);                        // Epoch\n        DeviceTime_date.setSeconds(DeviceTime_dec);\n        let DeviceTime_date_format = DeviceTime_date.toLocaleString('fr-FR',{\n                                                weekday: 'long',\n                                                year: 'numeric',\n                                                month: 'long',\n                                                day: 'numeric',\n                                                hour: 'numeric',\n                                                minute: 'numeric',\n                                                second: 'numeric'});\n        \n        DeviceTime_date_format += \" (UTC+0)\";\n        \n        return DeviceTime_date_format;\n\n}\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":680,"wires":[["d799ccc3df557968","60975839017046ff"]]},{"id":"217158cd81adf809","type":"ui_text","z":"1aa241be6de675cd","group":"4e5bc59179d99b0b","order":1,"width":7,"height":1,"name":"","label":"DevEUI","format":"{{msg.payload.DevEUI_uplink.DevEUI}}","layout":"row-spread","className":"","x":680,"y":560,"wires":[]},{"id":"3391987144fa35b7","type":"ui_text","z":"1aa241be6de675cd","group":"4e5bc59179d99b0b","order":4,"width":7,"height":1,"name":"","label":"Port","format":"{{msg.payload.DevEUI_uplink.FPort}}","layout":"row-spread","className":"","x":690,"y":600,"wires":[]},{"id":"e1c70cef16df686b","type":"ui_text","z":"1aa241be6de675cd","group":"4e5bc59179d99b0b","order":3,"width":7,"height":1,"name":"","label":"Fcnt","format":"{{msg.payload.DevEUI_uplink.FCntUp}}","layout":"row-spread","className":"","x":710,"y":640,"wires":[]},{"id":"d799ccc3df557968","type":"ui_text","z":"1aa241be6de675cd","group":"4e5bc59179d99b0b","order":2,"width":7,"height":2,"name":"","label":"Command type","format":"{{msg.commandtype}}","layout":"col-center","className":"","x":800,"y":720,"wires":[]},{"id":"60975839017046ff","type":"ui_text","z":"1aa241be6de675cd","group":"4e5bc59179d99b0b","order":5,"width":7,"height":2,"name":"","label":"Command analysis","format":"{{msg.analysis}}","layout":"col-center","className":"","x":850,"y":760,"wires":[]},{"id":"cc628538b7de6b72","type":"ui_text","z":"1aa241be6de675cd","group":"4e5bc59179d99b0b","order":6,"width":7,"height":1,"name":"","label":"Payload","format":"{{msg.payload.DevEUI_uplink.payload_hex}}","layout":"row-spread","className":"","x":740,"y":680,"wires":[]},{"id":"425d48caf101e424","type":"inject","z":"1aa241be6de675cd","name":"RAZ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":530,"y":740,"wires":[["217158cd81adf809","3391987144fa35b7","e1c70cef16df686b","cc628538b7de6b72","d799ccc3df557968","60975839017046ff"]]},{"id":"209eb5ef5bd77583","type":"comment","z":"1aa241be6de675cd","name":"!!! READ ME BEFORE USE !!!","info":"\nNeeded modifications berfore use :\n\n- Add YOUR MQTT broker settings in the MQTT nodes.\n- Set YOUR topic (to publish on) in the \"JSON downlink setup\" node.\n- Set YOUR topic (to subscribe to) in the \"Topic to subscribe\" node.\n\n- In the function nodes, there is JS code. Pay attention to the lines with the \"//!\\\\\" symbol.\n","x":940,"y":200,"wires":[]},{"id":"1c74218d9bb98fe8","type":"comment","z":"1aa241be6de675cd","name":"Clock Synchronization management tool - USMB","info":"","x":240,"y":40,"wires":[]},{"id":"8ccddb9a.a55f38","type":"inject","z":"4bd7ae34573d3d76","name":"temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"10","payloadType":"num","x":450,"y":740,"wires":[["47b769c5.cb0e28"]]},{"id":"47b769c5.cb0e28","type":"join","z":"4bd7ae34573d3d76","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":780,"wires":[["f9afb265.b11b7"]]},{"id":"f9afb265.b11b7","type":"debug","z":"4bd7ae34573d3d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":780,"wires":[]},{"id":"2d269127.4f04ce","type":"inject","z":"4bd7ae34573d3d76","name":"humidity","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"humidity","payload":"","payloadType":"num","x":440,"y":780,"wires":[["47b769c5.cb0e28"]]},{"id":"d6fbe805.0e4628","type":"inject","z":"4bd7ae34573d3d76","name":"pressure","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pressure","payload":"999","payloadType":"num","x":440,"y":820,"wires":[["47b769c5.cb0e28"]]},{"id":"f32e0c660da8d21a","type":"ui_text_input","z":"4bd7ae34573d3d76","d":true,"name":"","label":"McGroupID","tooltip":"","group":"a06c8a2503770b97","order":1,"width":5,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","sendOnBlur":true,"className":"","topicType":"str","x":290,"y":480,"wires":[["f34a5aac389d7008"]]},{"id":"f34a5aac389d7008","type":"change","z":"4bd7ae34573d3d76","name":"","rules":[{"t":"set","p":"payload.McGroupID","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":480,"wires":[["332e1417bbac7309"]]},{"id":"332e1417bbac7309","type":"ui_button","z":"4bd7ae34573d3d76","d":true,"name":"OK_McGroupID","group":"a06c8a2503770b97","order":2,"width":1,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"textInput","payloadType":"flow","topic":"","topicType":"str","x":720,"y":480,"wires":[["381b5e4751994275","a54233df702c2a06"]]},{"id":"381b5e4751994275","type":"function","z":"4bd7ae34573d3d76","name":"","func":"var newMsg = { payload: msg.payload.mcgroup };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":520,"wires":[["ece957149306b024"]]},{"id":"ece957149306b024","type":"debug","z":"4bd7ae34573d3d76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":500,"wires":[]},{"id":"909f37d9c10e6351","type":"ui_date_picker","z":"4bd7ae34573d3d76","d":true,"name":"date","label":"","group":"a06c8a2503770b97","order":4,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":270,"y":540,"wires":[["245919a9b025fadd"]]},{"id":"245919a9b025fadd","type":"change","z":"4bd7ae34573d3d76","name":"","rules":[{"t":"set","p":"textInput","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":540,"wires":[["1735bf4e9b545234"]]},{"id":"1735bf4e9b545234","type":"ui_button","z":"4bd7ae34573d3d76","d":true,"name":"OK_date","group":"a06c8a2503770b97","order":2,"width":1,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"textInput","payloadType":"flow","topic":"","topicType":"str","x":640,"y":540,"wires":[["381b5e4751994275"]]},{"id":"a54233df702c2a06","type":"debug","z":"4bd7ae34573d3d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":400,"wires":[]},{"id":"192c11887fae5a11","type":"join","z":"4bd7ae34573d3d76","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":220,"wires":[["1639a8a930f7e4c2"]]},{"id":"b2980408758a68f0","type":"function","z":"4bd7ae34573d3d76","name":"","func":"var newMsg = { payload: msg.payload.mcgroup };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":220,"wires":[[]]},{"id":"1639a8a930f7e4c2","type":"change","z":"4bd7ae34573d3d76","name":"","rules":[{"t":"set","p":"textInput","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":220,"wires":[["da10a4c40672caee"]]},{"id":"da10a4c40672caee","type":"ui_button","z":"4bd7ae34573d3d76","d":true,"name":"","group":"a06c8a2503770b97","order":2,"width":1,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"textInput","payloadType":"flow","topic":"","topicType":"str","x":930,"y":220,"wires":[["b2980408758a68f0"]]},{"id":"14ac3adb680b71e3","type":"function","z":"4bd7ae34573d3d76","name":"","func":"var newMsg = { payload: msg.payload.mcgroup };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":280,"wires":[[]]},{"id":"b38b166235b4ca78","type":"mqtt out","z":"4bd7ae34573d3d76","name":"to Mosquitto ONLINE","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0b5f9950f773f2db","x":940,"y":1040,"wires":[]},{"id":"6a9c440fad0daf39","type":"ui_text_input","z":"4bd7ae34573d3d76","d":true,"name":"","label":"DevEUI","tooltip":"","group":"a06c8a2503770b97","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"100","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":60,"y":1040,"wires":[["caeb941d2fa967dc"]]},{"id":"caeb941d2fa967dc","type":"change","z":"4bd7ae34573d3d76","name":"","rules":[{"t":"set","p":"textInput","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1040,"wires":[["d227dd8308919b37"]]},{"id":"cd71847442330bdc","type":"function","z":"4bd7ae34573d3d76","name":"JSON downlink setup","func":"\n// McGroupIDHeader (1 byte)\nvar command = \"0301\";   \nvar deveui = msg.payload;\nvar port = \"202\";\nvar topic = \"mqtt/things/\" + deveui + \"/downlink\";\n\nvar P=\n{\n    \"topic\": topic,\n    \n}\n\nP.payload = \n{\n\t\"DevEUI_downlink\": {\n\t\t\"DevEUI\": deveui,\n\t\t\"FPort\": port,\n\t\t\"payload_hex\": command,\n\t\t\"Confirmed\": \"0\",\n\t\t\"FlushDownlinkQueue\": \"1\"    \n\t}\n\t\n}\n\n\nmsg=P;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1040,"wires":[["b38b166235b4ca78"]]},{"id":"d227dd8308919b37","type":"ui_button","z":"4bd7ae34573d3d76","d":true,"name":"","group":"a06c8a2503770b97","order":2,"width":0,"height":0,"passthru":false,"label":"SEND COMMAND","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"textInput","payloadType":"flow","topic":"payload","topicType":"msg","x":470,"y":1040,"wires":[["cd71847442330bdc","c8e11af6625253cb"]]},{"id":"c8e11af6625253cb","type":"debug","z":"4bd7ae34573d3d76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":1080,"wires":[]},{"id":"24b96712c1af3c6d","type":"mqtt in","z":"4bd7ae34573d3d76","name":"from TTS server","topic":"v3/stm32wl-handson/devices/stm32wl-d9f1/+","qos":"2","datatype":"json","broker":"3d1cf845.9887c8","nl":false,"rap":false,"inputs":0,"x":560,"y":1500,"wires":[["65602886b8317099"]]},{"id":"65602886b8317099","type":"debug","z":"4bd7ae34573d3d76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":1500,"wires":[]},{"id":"757f3a2fe31b582f","type":"ui_button","z":"4bd7ae34573d3d76","name":"","group":"a06c8a2503770b97","order":3,"width":0,"height":0,"passthru":false,"label":"SEND TTS","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"payload","topicType":"msg","x":270,"y":1220,"wires":[[]]},{"id":"3e08aa5981e4722a","type":"mqtt out","z":"4bd7ae34573d3d76","name":"to TTS server","topic":"v3/stm32wl-handson/devices/stm32wl-d9f1/down/replace","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3d1cf845.9887c8","x":800,"y":1400,"wires":[]},{"id":"cabc1b28403a3bcf","type":"inject","z":"4bd7ae34573d3d76","name":"led on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"downlinks\":[{\"frm_payload\":\"AQ==\",\"f_port\":2,\"priority\":\"NORMAL\",\"class_b_c\":{\"gateways\":[{\"gateway_ids\":{\"gateway_id\":\"st-lrwan-actility-03\"}}]}}]}","payloadType":"json","x":570,"y":1300,"wires":[["3e08aa5981e4722a"]]},{"id":"d547a3f6d276c673","type":"function","z":"4bd7ae34573d3d76","name":"JSON downlink setup","func":"\n// McGroupIDHeader (1 byte)\n// var command = \"00\";   \n// var deveui = \"msg.payload.deveui\";\n// var port = msg.payload.port;\n// var topic = \"mqtt/things/\" + deveui + \"/downlink\";\n\n// var P=\n// {\n//     \"topic\": \"test/un\",\n    \t\n// \t\"DevEUI_downlink\": {\n// \t\t\"DevEUI\": deveui,\n// \t\t\"FPort\": port,\n// \t\t\"payload_hex\": command,\n// \t\t\"Confirmed\": \"0\",\n// \t\t\"FlushDownlinkQueue\": \"1\"    \n// \t}\n\t\n\n// }\n\n\n\n// msg = JSON.stringify(P);\n\nvar P=\n{\n    \"topic\": \"v3/stm32wl-handson/devices/stm32wl-d9f1/down/replace\",\n    \n}\n\nP.payload = \n{\n  \"downlinks\": [{\n    \"f_port\": 2,\n    \"frm_payload\": \"AA==\",\n    \"priority\": \"NORMAL\"\n  }]\n}\n\n\nmsg=P;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1200,"wires":[[]]},{"id":"c880fcea0413d7c2","type":"mqtt in","z":"4bd7ae34573d3d76","name":"ttn","topic":"v3/stm32wl-handson/devices/stm32wl-d9f1/+","qos":"2","datatype":"json","broker":"0caabba54c313b2d","nl":false,"rap":false,"inputs":0,"x":530,"y":1720,"wires":[["7a1af942e1ac7157"]]},{"id":"7a1af942e1ac7157","type":"debug","z":"4bd7ae34573d3d76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":1720,"wires":[]},{"id":"7ce5a3e8af518364","type":"mqtt out","z":"4bd7ae34573d3d76","name":"ttn","topic":"v3/stm32wl-test-dwlink@ttn/devices/multicast-grp0/down/replace","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0caabba54c313b2d","x":770,"y":1640,"wires":[]},{"id":"c47e3ec574f177c9","type":"inject","z":"4bd7ae34573d3d76","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"downlinks\":[{\"frm_payload\":\"AQ==\",\"f_port\":2,\"priority\":\"NORMAL\",\"class_b_c\":{\"gateways\":[{\"gateway_ids\":{\"gateway_id\":\"usmb-the-things-indoor-gateway-5\"}}]}}]}","payloadType":"json","x":570,"y":1640,"wires":[["7ce5a3e8af518364"]]},{"id":"49e25a8f318cc5b9","type":"mqtt out","z":"4bd7ae34573d3d76","name":"to Chirpstack","topic":"application/2/device/de726a35-180c-47e7-a67f-619e6cf72c6b/command/down","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dce612eb.74323","x":790,"y":1900,"wires":[]},{"id":"7adb7e0882541d09","type":"mqtt in","z":"4bd7ae34573d3d76","name":"from Chirpstack","topic":"application/2/device/0080e1150500d9f1/event/up","qos":"2","datatype":"json","broker":"dce612eb.74323","nl":false,"rap":false,"inputs":0,"x":540,"y":1980,"wires":[["eb322947395e0bac"]]},{"id":"eb322947395e0bac","type":"debug","z":"4bd7ae34573d3d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":1980,"wires":[]},{"id":"4c6897385b49e995","type":"inject","z":"4bd7ae34573d3d76","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"confirmed\":false,\"fPort\":5,\"data\":\"AQ==\"}","payloadType":"json","x":530,"y":1900,"wires":[["49e25a8f318cc5b9"]]},{"id":"bc44d6b84fa6a84d","type":"inject","z":"4bd7ae34573d3d76","name":"led off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"downlinks\":[{\"frm_payload\":\"AA==\",\"f_port\":2,\"priority\":\"NORMAL\",\"class_b_c\":{\"gateways\":[{\"gateway_ids\":{\"gateway_id\":\"st-lrwan-actility-03\"}}]}}]}","payloadType":"json","x":570,"y":1340,"wires":[["3e08aa5981e4722a"]]},{"id":"0ed076ad455a1fbc","type":"inject","z":"4bd7ae34573d3d76","name":"class a","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"downlinks\":[{\"frm_payload\":\"AA==\",\"f_port\":3,\"priority\":\"NORMAL\",\"class_b_c\":{\"gateways\":[{\"gateway_ids\":{\"gateway_id\":\"st-lrwan-actility-03\"}}]}}]}","payloadType":"json","x":570,"y":1380,"wires":[["3e08aa5981e4722a"]]},{"id":"f5e32628112ed631","type":"inject","z":"4bd7ae34573d3d76","name":"class c","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"downlinks\":[{\"frm_payload\":\"Ag==\",\"f_port\":3,\"priority\":\"NORMAL\",\"class_b_c\":{\"gateways\":[{\"gateway_ids\":{\"gateway_id\":\"st-lrwan-actility-03\"}}]}}]}","payloadType":"json","x":570,"y":1420,"wires":[["3e08aa5981e4722a"]]},{"id":"29c8516a875ef8d7","type":"mqtt in","z":"3d65af8393146a26","name":"from TTN","topic":"v3/test-endnode-pour-formation@ttn/devices/otaa-stm32wl/+","qos":"2","datatype":"json","broker":"bb122ee3e9c01561","nl":false,"rap":false,"inputs":0,"x":240,"y":160,"wires":[["1ee1d9a97cbe911a"]]},{"id":"24543fb16f109729","type":"debug","z":"3d65af8393146a26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"1ee1d9a97cbe911a","type":"function","z":"3d65af8393146a26","name":"","func":"var buff = Buffer.from(msg.payload.uplink_message.frm_payload, 'base64');\nvar buff2 = buff.toString('hex');\nvar buff2 = parseInt(buff2,16);\n\nvar newMsg = { payload: buff2 };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":320,"wires":[["24543fb16f109729","e1db2d88587d276f"]]},{"id":"e1db2d88587d276f","type":"ui_chart","z":"3d65af8393146a26","name":"","group":"1b214600.17935a","order":0,"width":"0","height":"0","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"50","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":720,"y":340,"wires":[[]]},{"id":"91320df112e9ebe0","type":"http in","z":"3d65af8393146a26","name":"test","url":"/montest/test","method":"post","upload":false,"swaggerDoc":"","x":710,"y":480,"wires":[["d28b5776e1489f92"]]},{"id":"d28b5776e1489f92","type":"debug","z":"3d65af8393146a26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":500,"wires":[]},{"id":"4db30cdaf576e3a7","type":"mqtt in","z":"659657e6fb7fd89e","name":"Subscribe to STM32","topic":"v3/nke-watteco@ttn/devices/lrwan1-end-node/+","qos":"2","datatype":"json","broker":"8e6e7013aef2591a","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":100,"wires":[["759e9ad6ec1b56c1","eb6ecb45a46b0718","f5324ff7e776e075"]]},{"id":"39a20eb5dc0f92ef","type":"ui_text","z":"659657e6fb7fd89e","group":"1279bf7669116f9a","order":2,"width":0,"height":0,"name":"","label":"Payload (base10)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":650,"y":140,"wires":[]},{"id":"759e9ad6ec1b56c1","type":"function","z":"659657e6fb7fd89e","name":"Base64 to Base10","func":"/*\n* Title:    Smart Plug - Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// Payload conversion\nvar buff = Buffer.from(msg.payload.uplink_message.frm_payload, 'base64');   // get the paylaod\nvar buff2 = buff.toString('hex');                                           // base64 to hex\nvar buff3 = parseInt(buff2,16);                                             // hex to dec\n\n// New msg creation\nvar newMsg = { payload: buff3 };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":140,"wires":[["39a20eb5dc0f92ef","80241a3b23bb22c5"]]},{"id":"eb6ecb45a46b0718","type":"ui_text","z":"659657e6fb7fd89e","group":"1279bf7669116f9a","order":1,"width":0,"height":0,"name":"","label":"Payload (base64)","format":"{{msg.payload.uplink_message.frm_payload}}","layout":"row-spread","className":"","x":650,"y":100,"wires":[]},{"id":"80241a3b23bb22c5","type":"ui_chart","z":"659657e6fb7fd89e","name":"","group":"1279bf7669116f9a","order":3,"width":0,"height":0,"label":"Humidity (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Wainting for data...","dot":true,"ymin":"40","ymax":"70","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":630,"y":180,"wires":[[]]},{"id":"0eaba9b74f5a03b1","type":"mqtt in","z":"659657e6fb7fd89e","name":"Subscribe to Smart Plug","topic":"v3/nke-watteco@ttn/devices/smart-plug-01/+","qos":"2","datatype":"json","broker":"8e6e7013aef2591a","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":380,"wires":[["6ee8e705e586010f","629b1dc78b5707dd","79d682ebf1a30936"]]},{"id":"6ee8e705e586010f","type":"function","z":"659657e6fb7fd89e","name":"Get the status","func":"/*\n* Title:    Smart Plug - Get the status\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  --\n*\n*/\n\n// Payload conversion\nvar buff = Buffer.from(msg.payload.uplink_message.frm_payload, 'base64');   // get the paylaod\nvar report = buff.toString('hex');                                          // base64 to hex\n// var buff3 = parseInt(buff2,16);                                          // hex to dec\n\n\n// buffer\nvar message;\n\n\n// report analysis\nif (report[7] == \"6\"){\n    \n    if (report[15] == \"1\"){\n        message = \"ON\";\n    }\n    else if (report[15] == \"0\") {\n        message = \"OFF\";\n    }\n    else {\n        message = \"error\";\n    }\n\n    // New msg creation\n    var newMsg = { payload: message };\n    return newMsg;\n    \n}\nelse{\n    //\n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["f01329fa06508400"]]},{"id":"1657dc25965e5378","type":"ui_text","z":"659657e6fb7fd89e","group":"a8f094798ddf0d37","order":1,"width":0,"height":0,"name":"","label":"Payload (base16)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":650,"y":380,"wires":[]},{"id":"629b1dc78b5707dd","type":"function","z":"659657e6fb7fd89e","name":"Get the W ","func":"/*\n* Title:    Smart Plug - Get the W\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  --\n*\n*/\n\n// Payload conversion\nvar buff = Buffer.from(msg.payload.uplink_message.frm_payload, 'base64');   // get the paylaod\nvar report = buff.toString('hex');                                          // base64 to hex\n// var buff3 = parseInt(buff2,16);                                          // hex to dec\n\n    // New msg creation\n    //var newMsg1 = { payload: report };\n    //return newMsg1;\n\n// buffer\nvar message;\n\n\n    // 110a000600001001\n\t// 110a00520000410c00004d0000050003000afff0\n\t// 10040040e51d00002010a41aaaa11aaab107\n\n\n// report analysis\nif (report[7] == \"2\"){\n    \n    message = report[32] + report[33] + report[34] + report[35];\n    var messagehex = message.toString('hex');\n    var messagedec = parseInt(messagehex, 16);\n    // msg.reportW = messagedec;\n    \n    // New msg creation\n    var newMsg = { payload: messagedec };\n    return newMsg;\n    \n}\nelse if (report[7] == \"0\"){\n    \n    var newMsg2 = { payload: \"0\" };\n    return newMsg2;\n    \n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":420,"wires":[["fd0f10c4811f2a85"]]},{"id":"f01329fa06508400","type":"ui_text","z":"659657e6fb7fd89e","group":"a8f094798ddf0d37","order":2,"width":0,"height":0,"name":"Status","label":"Status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":610,"y":460,"wires":[]},{"id":"79d682ebf1a30936","type":"function","z":"659657e6fb7fd89e","name":"Base64 to Base16","func":"/*\n* Title:    Smart Plug - Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// Payload conversion\nvar buff = Buffer.from(msg.payload.uplink_message.frm_payload, 'base64');   // get the paylaod\nvar buff2 = buff.toString('hex');                                           // base64 to hex\n// var buff3 = parseInt(buff2,16);                                             // hex to dec\n\n// New msg creation\nvar newMsg = { payload: buff2 };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":380,"wires":[["1657dc25965e5378"]]},{"id":"5491aa7d4bd60e5b","type":"ui_button","z":"659657e6fb7fd89e","name":"","group":"a8f094798ddf0d37","order":3,"width":6,"height":1,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"downlinks\":[{\"f_port\":125,\"frm_payload\":\"EVAABgE=\",\"priority\":\"NORMAL\"}]}","payloadType":"json","topic":"payload","topicType":"msg","x":190,"y":580,"wires":[["d58c266f20bea021"]]},{"id":"69a811bb535158de","type":"ui_button","z":"659657e6fb7fd89e","name":"","group":"a8f094798ddf0d37","order":4,"width":6,"height":1,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"downlinks\":[{\"f_port\":125,\"frm_payload\":\"EVAABgA=\",\"priority\":\"NORMAL\"}]}","payloadType":"json","topic":"payload","topicType":"msg","x":190,"y":620,"wires":[["d58c266f20bea021"]]},{"id":"d58c266f20bea021","type":"mqtt out","z":"659657e6fb7fd89e","name":"Publish to Smart Plug","topic":"v3/nke-watteco@ttn/devices/smart-plug-01/down/replace","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8e6e7013aef2591a","x":440,"y":600,"wires":[]},{"id":"fd0f10c4811f2a85","type":"ui_chart","z":"659657e6fb7fd89e","name":"","group":"a8f094798ddf0d37","order":3,"width":0,"height":0,"label":"Puissance (W)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Wainting for data...","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":640,"y":420,"wires":[[]]},{"id":"0de637727aa53b5c","type":"mqtt out","z":"659657e6fb7fd89e","name":"Publish to Smart Plug","topic":"v3/nke-watteco@ttn/devices/smart-plug-01/down/replace","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8e6e7013aef2591a","x":660,"y":240,"wires":[]},{"id":"f5324ff7e776e075","type":"function","z":"659657e6fb7fd89e","name":"OFF if (H% > 52)","func":"/*\n* Title:    Smart Plug - Trigger\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// Payload conversion\nvar buff = Buffer.from(msg.payload.uplink_message.frm_payload, 'base64');   // get the paylaod\nvar buff2 = buff.toString('hex');                                           // base64 to hex\nvar buff3 = parseInt(buff2,16);                                             // hex to dec\n\n\n\nif (buff3 > 52){\n    // New msg creation\n    var newMsg = { payload: {\n    \"downlinks\": [\n        {\n            \"f_port\": 125,\n            \"frm_payload\": \"EVAABgA=\",\n            \"priority\": \"NORMAL\"\n        }\n    ]\n} \n        \n    };\n    return newMsg;\n}\nelse{\n    //\n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":240,"wires":[["0de637727aa53b5c"]]},{"id":"97e8a9da4e612fb0","type":"mqtt in","z":"10bd416563db5ccf","name":"TTN - beehive","topic":"","qos":"2","datatype":"json","broker":"f430fd0223bbe8cc","nl":false,"rap":true,"rh":0,"inputs":1,"x":430,"y":220,"wires":[["8efce3c64a31d46b","02343b2d30c5c7cb","597329011f06fa09","de83cf81ad7e8544","87845de21711b6e0","4a416eb8702b3b2e"]]},{"id":"6d0276be37d7bef3","type":"inject","z":"10bd416563db5ccf","name":"Topic to subscribe","props":[{"p":"action","v":"subscribe","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"v3/balance-connectee@ttn/devices/carte4/+","x":230,"y":220,"wires":[["97e8a9da4e612fb0"]]},{"id":"597329011f06fa09","type":"ui_gauge","z":"10bd416563db5ccf","name":"","group":"d4db57c5addeebe4","order":2,"width":0,"height":0,"gtype":"donut","title":"RSSI","label":"dBm","format":"{{msg.payload.uplink_message.rx_metadata[0].rssi}}","min":"-135","max":"-10","colors":["#ff0000","#e68600","#0bd908"],"seg1":"-130","seg2":"-120","className":"","x":770,"y":300,"wires":[]},{"id":"8efce3c64a31d46b","type":"ui_gauge","z":"10bd416563db5ccf","name":"","group":"d4db57c5addeebe4","order":3,"width":0,"height":0,"gtype":"donut","title":"Weight","label":"Kg","format":"{{msg.payload.uplink_message.decoded_payload.analog_out_2}}","min":"0","max":"60","colors":["#66ff00","#e6b400","#dfd80c"],"seg1":"","seg2":"","className":"","x":770,"y":220,"wires":[]},{"id":"02343b2d30c5c7cb","type":"ui_gauge","z":"10bd416563db5ccf","name":"","group":"d4db57c5addeebe4","order":4,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"C","format":"{{msg.payload.uplink_message.decoded_payload.temperature_7}}","min":"-20","max":"50","colors":["#00fffb","#6ff019","#ff6600"],"seg1":"","seg2":"","className":"","x":790,"y":260,"wires":[]},{"id":"7d6ba0e07c0c06a8","type":"ui_text","z":"10bd416563db5ccf","group":"d4db57c5addeebe4","order":1,"width":0,"height":0,"name":"Date","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","x":770,"y":180,"wires":[]},{"id":"de83cf81ad7e8544","type":"function","z":"10bd416563db5ccf","name":"Measurement to save","func":"/*\n* Title:    Beehive - Influxdb writting\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n//msg.payload.uplink_message.decoded_payload.analog_out_2\n//msg.payload.uplink_message.decoded_payload.temperature_7\n\nmsg.payload = [\n    {\n        measurement: \"beehive\",\n        fields: {\n            weight: msg.payload.uplink_message.decoded_payload.analog_out_2,\n            temp: msg.payload.uplink_message.decoded_payload.temperature_7\n        }\n    }\n]\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":360,"wires":[["9266b2b782af3d44"]]},{"id":"9266b2b782af3d44","type":"influxdb batch","z":"10bd416563db5ccf","influxdb":"e56e04ca284056ef","precision":"","retentionPolicy":"","name":"Influxdb (Write)","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":360,"wires":[]},{"id":"6daa17234468ee7c","type":"comment","z":"10bd416563db5ccf","name":"https://docs.influxdata.com/influxdb/v1.8/query_language/explore-data/#:~:text=00Z%20%20%202.051%20%20%20%20%20%20%20%20%20santa_monica-,Group%20query%20results%20into%2012%20minute%20intervals,-%3E%20SELECT%20COUNT(%22water_level","info":"- ex\nSELECT COUNT(\"water_level\") FROM \"h2o_feet\" WHERE \"location\"='coyote_creek' AND time >= '2015-08-18T00:00:00Z' AND time <= '2015-08-18T00:30:00Z' GROUP BY time(12m)\n","x":980,"y":980,"wires":[]},{"id":"87845de21711b6e0","type":"function","z":"10bd416563db5ccf","name":"Get the Date","func":"/*\n* Title:    Beehive - Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// Get Payload\nvar buff = msg.payload.received_at; // get the date\nvar dateformat = Date.parse(buff);\n\nvar DeviceTime_date = new Date(1970, 0, 1);                        // Epoch\nDeviceTime_date.setSeconds((dateformat/1000)+(3600*2));\nlet DeviceTime_date_format = DeviceTime_date.toLocaleString('fr-FR',{\n                                                weekday: 'long',\n                                                year: 'numeric',\n                                                month: 'long',\n                                                day: 'numeric',\n                                                hour: 'numeric',\n                                                minute: 'numeric',\n                                                second: 'numeric'});\n\n\n\n\n\n// New msg creation\nvar newMsg = { payload: DeviceTime_date_format };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":180,"wires":[["7d6ba0e07c0c06a8"]]},{"id":"4a416eb8702b3b2e","type":"function","z":"10bd416563db5ccf","name":"force refresh","func":"/*\n* Title:    Beehive - Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// New msg creation\nvar defaulttime = \"8d\";\nvar newMsg = { payload: defaulttime };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":360,"wires":[["1c5b226eedfa39a8"]]},{"id":"6c235957e0ed689d","type":"influxdb in","z":"10bd416563db5ccf","influxdb":"e56e04ca284056ef","name":"influxdb (read)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":700,"y":460,"wires":[["86852f59151542cd","2009a09e38413a84"]]},{"id":"1c5b226eedfa39a8","type":"ui_dropdown","z":"10bd416563db5ccf","name":"","label":"Time Selector","tooltip":"","place":"Select option","group":"0f45718f4d08ad7c","order":1,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"1 hour","value":"1h","type":"str"},{"label":"6 hours","value":"6h","type":"str"},{"label":"12 hours","value":"12h","type":"str"},{"label":"1 day","value":"1d","type":"str"},{"label":"3 days","value":"3d","type":"str"},{"label":"5 days","value":"5d","type":"str"},{"label":"8 days","value":"8d","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":280,"y":480,"wires":[["7687d487598996da","2bc6876ab78abf8f"]]},{"id":"7687d487598996da","type":"function","z":"10bd416563db5ccf","name":"Time scale","func":"/*\n* Title:    Beehive - InfluxDb query\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// SELECT mean(\"uplink_message_decoded_payload_temperature_7\") AS \"mean_uplink_message_decoded_payload_temperature_7\" FROM \"maBase\".\"autogen\".\"mqtt_consumer\" WHERE time > :dashboardTime: AND time < :upperDashboardTime: GROUP BY time(:interval:) FILL(null)\nvar time = msg.payload;\nvar thequery = \"SELECT weight FROM beehive WHERE time > now() - \" + time ;\nmsg.query = thequery;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":460,"wires":[["6c235957e0ed689d"]]},{"id":"86852f59151542cd","type":"function","z":"10bd416563db5ccf","name":"Query result handling","func":"/*\n* Title:    Beehive - InfluxDb query handling\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\narraysize = msg.payload.length;\n\narray = msg.payload;\n\nlet data = new Array(arraysize);\n\nfor (let i=0 ; i<arraysize ; i++){\n    data[i]= {\"x\": array[i].time, \"y\": array[i].weight}\n}\n\n\n\nmsg.payload = [{\n    \"series\": [\"My Data\"],\n    \"data\": [data],\n    \"labels\": [\"label\"]\n}];\n\n\n\n\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":460,"wires":[["b7c6d068f3435e09"]]},{"id":"42b2c4d1302bb835","type":"influxdb in","z":"10bd416563db5ccf","influxdb":"e56e04ca284056ef","name":"influxdb (read)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":700,"y":500,"wires":[["7e87fa7645807e60"]]},{"id":"2bc6876ab78abf8f","type":"function","z":"10bd416563db5ccf","name":"Time scale","func":"/*\n* Title:    Beehive - InfluxDb query\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// SELECT mean(\"uplink_message_decoded_payload_temperature_7\") AS \"mean_uplink_message_decoded_payload_temperature_7\" FROM \"maBase\".\"autogen\".\"mqtt_consumer\" WHERE time > :dashboardTime: AND time < :upperDashboardTime: GROUP BY time(:interval:) FILL(null)\nvar time = msg.payload;\nvar thequery = \"SELECT temp FROM beehive WHERE time > now() - \" + time ;\nmsg.query = thequery;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":500,"wires":[["42b2c4d1302bb835"]]},{"id":"7e87fa7645807e60","type":"function","z":"10bd416563db5ccf","name":"Query result handling","func":"/*\n* Title:    Beehive - InfluxDb query handling\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\narraysize = msg.payload.length;\n\narray = msg.payload;\n\nlet data = new Array(arraysize);\n\nfor (let i=0 ; i<arraysize ; i++){\n    data[i]= {\"x\": array[i].time, \"y\": array[i].temp}\n}\n\n\n\nmsg.payload = [{\n    \"series\": [\"My Data\"],\n    \"data\": [data],\n    \"labels\": [\"label\"]\n}];\n\n\n\n\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":500,"wires":[["492de2862ded5c4c"]]},{"id":"b7c6d068f3435e09","type":"ui_chart","z":"10bd416563db5ccf","name":"Beehive Weight (Kg)","group":"0f45718f4d08ad7c","order":6,"width":18,"height":5,"label":"Beehive Weight (Kg)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"No data yet...","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ed8c1d","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1200,"y":460,"wires":[[]]},{"id":"492de2862ded5c4c","type":"ui_chart","z":"10bd416563db5ccf","name":"Beehive Temperature (C)","group":"0f45718f4d08ad7c","order":7,"width":18,"height":5,"label":"Beehive Temperature (C)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"No data yet...","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0eaf19","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1210,"y":500,"wires":[[]]},{"id":"2009a09e38413a84","type":"debug","z":"10bd416563db5ccf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":420,"wires":[]},{"id":"76f9c28c.8d324c","type":"inject","z":"10bd416563db5ccf","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":680,"wires":[["91ff3a3e.591a38"]]},{"id":"696f92ca.600a9c","type":"ui_template","z":"10bd416563db5ccf","group":"0f45718f4d08ad7c","name":"","order":1,"width":"10","height":"5","format":"\n \n <img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1200,"y":600,"wires":[[]]},{"id":"91ff3a3e.591a38","type":"file in","z":"10bd416563db5ccf","name":"","filename":"\"/home/debian/dashboard-lorawan/nodered-dashboard/data/nodered/Logo_USMB_web_grand_RVB.png\"","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":640,"y":720,"wires":[["e66563f4.00136"]]},{"id":"e66563f4.00136","type":"base64","z":"10bd416563db5ccf","name":"","action":"str","property":"payload","x":1000,"y":640,"wires":[["696f92ca.600a9c"]]}]