Connected Beehive/NodeRED_connected_beehive.json
[{"id":"10bd416563db5ccf","type":"tab","label":"Ruches","disabled":false,"info":"","env":[]},{"id":"97e8a9da4e612fb0","type":"mqtt in","z":"10bd416563db5ccf","name":"TTN - beehive","topic":"","qos":"2","datatype":"json","broker":"f430fd0223bbe8cc","nl":false,"rap":true,"rh":0,"inputs":1,"x":430,"y":220,"wires":[["8efce3c64a31d46b","02343b2d30c5c7cb","597329011f06fa09","de83cf81ad7e8544","87845de21711b6e0","4a416eb8702b3b2e","5709ec9df88b0397"]]},{"id":"6d0276be37d7bef3","type":"inject","z":"10bd416563db5ccf","name":"Topic to subscribe","props":[{"p":"action","v":"subscribe","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"v3/balance-connectee@ttn/devices/carte4/+","x":230,"y":220,"wires":[["97e8a9da4e612fb0"]]},{"id":"597329011f06fa09","type":"ui_gauge","z":"10bd416563db5ccf","name":"","group":"d4db57c5addeebe4","order":2,"width":0,"height":0,"gtype":"donut","title":"RSSI","label":"dBm","format":"{{msg.payload.uplink_message.rx_metadata[0].rssi}}","min":"-135","max":"-10","colors":["#ff0000","#e68600","#0bd908"],"seg1":"-130","seg2":"-120","className":"","x":770,"y":300,"wires":[]},{"id":"8efce3c64a31d46b","type":"ui_gauge","z":"10bd416563db5ccf","name":"","group":"d4db57c5addeebe4","order":3,"width":0,"height":0,"gtype":"donut","title":"Weight","label":"Kg","format":"{{msg.payload.uplink_message.decoded_payload.analog_out_2}}","min":"0","max":"65","colors":["#66ff00","#e6b400","#dfd80c"],"seg1":"","seg2":"","className":"","x":770,"y":220,"wires":[]},{"id":"02343b2d30c5c7cb","type":"ui_gauge","z":"10bd416563db5ccf","name":"","group":"d4db57c5addeebe4","order":4,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"°C","format":"{{msg.payload.uplink_message.decoded_payload.temperature_7}}","min":"-20","max":"50","colors":["#00fffb","#6ff019","#ff6600"],"seg1":"","seg2":"","className":"","x":790,"y":260,"wires":[]},{"id":"7d6ba0e07c0c06a8","type":"ui_text","z":"10bd416563db5ccf","group":"d4db57c5addeebe4","order":1,"width":4,"height":2,"name":"Date","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","x":770,"y":180,"wires":[]},{"id":"de83cf81ad7e8544","type":"function","z":"10bd416563db5ccf","name":"Measurement to save","func":"/*\n* Title:    Beehive - Influxdb writting\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n//msg.payload.uplink_message.decoded_payload.analog_out_2\n//msg.payload.uplink_message.decoded_payload.temperature_7\n\nmsg.payload = [\n    {\n        measurement: \"beehive\",\n        fields: {\n            weight: msg.payload.uplink_message.decoded_payload.analog_out_2,\n            temp: msg.payload.uplink_message.decoded_payload.temperature_7,\n            rssi: msg.payload.uplink_message.rx_metadata[0].rssi,\n            snr: msg.payload.uplink_message.rx_metadata[0].snr\n        }\n    }\n]\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":360,"wires":[["9266b2b782af3d44"]]},{"id":"9266b2b782af3d44","type":"influxdb batch","z":"10bd416563db5ccf","influxdb":"e56e04ca284056ef","precision":"","retentionPolicy":"","name":"Influxdb (Write)","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":360,"wires":[]},{"id":"87845de21711b6e0","type":"function","z":"10bd416563db5ccf","name":"Get the Date","func":"/*\n* Title:    Beehive - Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// Get Payload\nvar buff = msg.payload.received_at; // get the date\nvar dateformat = Date.parse(buff);\n\nvar DeviceTime_date = new Date(1970, 0, 1);                        // Epoch\nDeviceTime_date.setSeconds((dateformat/1000)+(3600*2));\nlet DeviceTime_date_format = DeviceTime_date.toLocaleString('fr-FR',{\n                                                weekday: 'long',\n                                                year: 'numeric',\n                                                month: 'long',\n                                                day: 'numeric',\n                                                hour: 'numeric',\n                                                minute: 'numeric',\n                                                second: 'numeric'});\n\n\n\n\n\n// New msg creation\nvar newMsg = { payload: DeviceTime_date_format };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":180,"wires":[["7d6ba0e07c0c06a8"]]},{"id":"4a416eb8702b3b2e","type":"function","z":"10bd416563db5ccf","name":"force refresh","func":"/*\n* Title:    Beehive - Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// New msg creation\nvar defaulttime = \"8d\";\nvar newMsg = { payload: defaulttime };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":360,"wires":[["c3de4d9457490f01"]]},{"id":"6c235957e0ed689d","type":"influxdb in","z":"10bd416563db5ccf","influxdb":"e56e04ca284056ef","name":"influxdb (read)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":700,"y":540,"wires":[["86852f59151542cd"]]},{"id":"1c5b226eedfa39a8","type":"ui_dropdown","z":"10bd416563db5ccf","name":"Period to display","label":"Choose the period to display!","tooltip":"","place":"Select option","group":"0f45718f4d08ad7c","order":1,"width":12,"height":1,"passthru":true,"multiple":false,"options":[{"label":"From 1 hour in the past to now","value":"1h","type":"str"},{"label":"From 6 hours in the past to now","value":"6h","type":"str"},{"label":"From 12 hours in the past to now","value":"12h","type":"str"},{"label":"From 1 day in the past to now","value":"1d","type":"str"},{"label":"From 3 days in the past to now","value":"3d","type":"str"},{"label":"From 5 days in the past to now","value":"5d","type":"str"},{"label":"From 8 days in the past to now","value":"8d","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":270,"y":560,"wires":[["7687d487598996da","2bc6876ab78abf8f","03e74156b65f192e"]]},{"id":"7687d487598996da","type":"function","z":"10bd416563db5ccf","name":"Time scale","func":"/*\n* Title:    Beehive - InfluxDb query\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// SELECT mean(\"uplink_message_decoded_payload_temperature_7\") AS \"mean_uplink_message_decoded_payload_temperature_7\" FROM \"maBase\".\"autogen\".\"mqtt_consumer\" WHERE time > :dashboardTime: AND time < :upperDashboardTime: GROUP BY time(:interval:) FILL(null)\nvar time = msg.payload;\nvar thequery = \"SELECT weight FROM beehive WHERE time > now() - \" + time ;\nmsg.query = thequery;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":540,"wires":[["6c235957e0ed689d"]]},{"id":"86852f59151542cd","type":"function","z":"10bd416563db5ccf","name":"Query result handling n1","func":"/*\n* Title:    Beehive - InfluxDb query handling n1\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\narraysize = msg.payload.length;\n\narray = msg.payload;\n\nlet data = new Array(arraysize);\n\nfor (let i=0 ; i<arraysize ; i++){\n    data[i]= {\"x\": array[i].time, \"y\": array[i].weight}\n}\n\n\n\nmsg.payload = [{\n    \"series\": [\"My Data\"],\n    \"data\": [data],\n    \"labels\": [\"label\"]\n}];\n\n\n\n\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":540,"wires":[["b7c6d068f3435e09"]]},{"id":"42b2c4d1302bb835","type":"influxdb in","z":"10bd416563db5ccf","influxdb":"e56e04ca284056ef","name":"influxdb (read)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":700,"y":580,"wires":[["7e87fa7645807e60"]]},{"id":"2bc6876ab78abf8f","type":"function","z":"10bd416563db5ccf","name":"Time scale","func":"/*\n* Title:    Beehive - InfluxDb query\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// SELECT mean(\"uplink_message_decoded_payload_temperature_7\") AS \"mean_uplink_message_decoded_payload_temperature_7\" FROM \"maBase\".\"autogen\".\"mqtt_consumer\" WHERE time > :dashboardTime: AND time < :upperDashboardTime: GROUP BY time(:interval:) FILL(null)\nvar time = msg.payload;\nvar thequery = \"SELECT temp FROM beehive WHERE time > now() - \" + time ;\nmsg.query = thequery;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":580,"wires":[["42b2c4d1302bb835"]]},{"id":"7e87fa7645807e60","type":"function","z":"10bd416563db5ccf","name":"Query result handling n2","func":"/*\n* Title:    Beehive - InfluxDb query handling n2\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\narraysize = msg.payload.length;\n\narray = msg.payload;\n\nlet data = new Array(arraysize);\n\nfor (let i=0 ; i<arraysize ; i++){\n    data[i]= {\"x\": array[i].time, \"y\": array[i].temp}\n}\n\n\n\nmsg.payload = [{\n    \"series\": [\"My Data\"],\n    \"data\": [data],\n    \"labels\": [\"label\"]\n}];\n\n\n\n\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":580,"wires":[["492de2862ded5c4c"]]},{"id":"b7c6d068f3435e09","type":"ui_chart","z":"10bd416563db5ccf","name":"Beehive Weight (Kg)","group":"0f45718f4d08ad7c","order":3,"width":18,"height":5,"label":"Beehive Weight (Kg)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"No data yet...","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ed8c1d","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1200,"y":540,"wires":[[]]},{"id":"492de2862ded5c4c","type":"ui_chart","z":"10bd416563db5ccf","name":"Beehive Temperature (°C)","group":"0f45718f4d08ad7c","order":4,"width":18,"height":5,"label":"Beehive Temperature (°C)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"No data yet...","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0eaf19","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1210,"y":580,"wires":[[]]},{"id":"2009a09e38413a84","type":"debug","z":"10bd416563db5ccf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":440,"wires":[]},{"id":"8cfdaf3cd730234c","type":"influxdb in","z":"10bd416563db5ccf","influxdb":"e56e04ca284056ef","name":"influxdb (read)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":480,"y":840,"wires":[["288e89f46b0020f3"]]},{"id":"41b3ce2d398c7524","type":"function","z":"10bd416563db5ccf","name":"MAX on last 24h","func":"/*\n* Title:    Beehive - Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// New msg creation\nvar last24 = \"SELECT MAX(weight) FROM beehive WHERE (time > now() - 2d) group by time(1d)\";\n\nvar newMsg = { query: last24 };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":840,"wires":[["8cfdaf3cd730234c"]]},{"id":"f9e0b250e523318e","type":"link in","z":"10bd416563db5ccf","name":"","links":["c3de4d9457490f01"],"x":115,"y":560,"wires":[["1c5b226eedfa39a8"]]},{"id":"e632c1d701362d7d","type":"link in","z":"10bd416563db5ccf","name":"","links":["c3de4d9457490f01"],"x":105,"y":840,"wires":[["41b3ce2d398c7524"]]},{"id":"c3de4d9457490f01","type":"link out","z":"10bd416563db5ccf","name":"","mode":"link","links":["f9e0b250e523318e","e632c1d701362d7d","1094360d828e7c2d"],"x":395,"y":360,"wires":[]},{"id":"288e89f46b0020f3","type":"function","z":"10bd416563db5ccf","name":"Query result handling n3","func":"/*\n* Title:    Beehive - InfluxDb query handling n3\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n\n// get data\nvar max1 = msg.payload[0].max;\nvar max2 = msg.payload[1].max;\n\n\n// delta calculation on the last 24 hours\nvar delta = max2 - max1;\nvar deltapercent = 100 * delta/max1;\ndeltapercent = deltapercent.toFixed(2);\n\n// \ndelta = delta.toFixed(2)\nif (delta > 0){\n    delta = \"+\" + delta + \" Kg\";\n}\nelse{\n    delta = delta + \" Kg\";\n}\n\n\n\n// return\nmsg.thedelta = delta;\nmsg.thedeltapercent = deltapercent;\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":840,"wires":[["c0a37e9b453247f4","4a2b9a076ee90fba"]]},{"id":"c0a37e9b453247f4","type":"ui_gauge","z":"10bd416563db5ccf","name":"","group":"81d85f59bed07935","order":1,"width":0,"height":0,"gtype":"gage","title":"% variation","label":"%","format":"{{msg.thedeltapercent}}","min":"-100","max":"100","colors":["#ca3838","#e6e600","#00e600"],"seg1":"-2","seg2":"2","className":"","x":970,"y":840,"wires":[]},{"id":"4a2b9a076ee90fba","type":"ui_text","z":"10bd416563db5ccf","group":"81d85f59bed07935","order":2,"width":0,"height":0,"name":"","label":"Last 24h raw data","format":"{{msg.thedelta}}","layout":"row-spread","className":"","x":990,"y":800,"wires":[]},{"id":"c48a62e4d12e8bf4","type":"influxdb in","z":"10bd416563db5ccf","influxdb":"e56e04ca284056ef","name":"influxdb (read)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":480,"y":980,"wires":[["dfdb8ca6a43a439a"]]},{"id":"15da1034f69d46e1","type":"function","z":"10bd416563db5ccf","name":"MAX on last 24h","func":"/*\n* Title:    Beehive - Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// New msg creation\nvar last24 = \"SELECT MAX(weight) FROM beehive WHERE (time > now() - 7d) group by time(1d)\";\n\nvar newMsg = { query: last24 };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":980,"wires":[["c48a62e4d12e8bf4"]]},{"id":"1094360d828e7c2d","type":"link in","z":"10bd416563db5ccf","name":"","links":["c3de4d9457490f01"],"x":105,"y":980,"wires":[["15da1034f69d46e1"]]},{"id":"dfdb8ca6a43a439a","type":"function","z":"10bd416563db5ccf","name":"Query result handling n4","func":"/*\n* Title:    Beehive - InfluxDb query handling n4\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n\n// get data\narraysize = msg.payload.length;\narray = msg.payload;\n\nlet data = new Array(arraysize-1);\n\nfor (let i=0 ; i<arraysize ; i++){\n    data[i]= array[i].max;\n}\n\n\n// delta calculation on the last 7d\ndelta7d = data[arraysize-1] - data[0];\nvar delta7dpercent = 100 * delta7d/data[0];\ndelta7dpercent = delta7dpercent.toFixed(2);\n\n// \ndelta7d = delta7d.toFixed(2)\nif (delta7d > 0){\n    delta7d = \"+\" + delta7d + \" Kg\";\n}\nelse{\n    delta7d = delta7d + \" Kg\";\n}\n\n// return\nmsg.thedelta7d = delta7d;\nmsg.thedelta7dpercent = delta7dpercent;\nmsg.thedata = data;\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":980,"wires":[["087b66c47d0e2823","abe6ae1f70722ba0"]]},{"id":"087b66c47d0e2823","type":"ui_gauge","z":"10bd416563db5ccf","name":"","group":"834f8d85b7c0c7f7","order":1,"width":0,"height":0,"gtype":"gage","title":"% variation","label":"%","format":"{{msg.thedelta7dpercent}}","min":"-100","max":"100","colors":["#ca3838","#e6e600","#00e600"],"seg1":"-2","seg2":"2","className":"","x":970,"y":980,"wires":[]},{"id":"abe6ae1f70722ba0","type":"ui_text","z":"10bd416563db5ccf","group":"834f8d85b7c0c7f7","order":2,"width":0,"height":0,"name":"","label":"Last 7d raw data","format":"{{msg.thedelta7d}}","layout":"row-spread","className":"","x":990,"y":940,"wires":[]},{"id":"bf653e357f1922a4","type":"ui_chart","z":"10bd416563db5ccf","name":"RSSI ans SNR","group":"2410e3029ac04184","order":1,"width":12,"height":5,"label":"RSSI (dBm) and SNR (dB)","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"monotone","nodata":"No data yet...","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e63737","#178fd9","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1180,"y":620,"wires":[[]]},{"id":"41dbcc7562513e68","type":"influxdb in","z":"10bd416563db5ccf","influxdb":"e56e04ca284056ef","name":"influxdb (read)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":700,"y":620,"wires":[["4602c0c3e558fb96","2009a09e38413a84"]]},{"id":"03e74156b65f192e","type":"function","z":"10bd416563db5ccf","name":"Time scale","func":"/*\n* Title:    Beehive - InfluxDb query\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// SELECT mean(\"uplink_message_decoded_payload_temperature_7\") AS \"mean_uplink_message_decoded_payload_temperature_7\" FROM \"maBase\".\"autogen\".\"mqtt_consumer\" WHERE time > :dashboardTime: AND time < :upperDashboardTime: GROUP BY time(:interval:) FILL(null)\nvar time = msg.payload;\nvar thequery = \"SELECT rssi, snr FROM beehive WHERE time > now() - \" + time ;\nmsg.query = thequery;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":620,"wires":[["41dbcc7562513e68"]]},{"id":"4602c0c3e558fb96","type":"function","z":"10bd416563db5ccf","name":"Query rssi handling","func":"/*\n* Title:    Beehive - InfluxDb query handling n2\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\narraysize = msg.payload.length;\n\narray = msg.payload;\n\nlet data_rssi = new Array(arraysize);\nlet data_snr = new Array(arraysize);\n\nfor (let i=0 ; i<arraysize ; i++){\n    data_rssi[i]= {\"x\": array[i].time, \"y\": array[i].rssi}\n    data_snr[i]= {\"x\": array[i].time, \"y\": array[i].snr}\n}\n\n\nmsg.payload = [{\n    \"series\": [\"RSSI\", \"SNR\"],\n    \"data\": [data_rssi, data_snr],\n    \"labels\": [\"rssi\", \"snr\"]\n}];\n\n\n\n\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":620,"wires":[["bf653e357f1922a4"]]},{"id":"5709ec9df88b0397","type":"debug","z":"10bd416563db5ccf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":80,"wires":[]},{"id":"541465bbc9ed6cea","type":"ui_spacer","z":"10bd416563db5ccf","name":"spacer","group":"0f45718f4d08ad7c","order":2,"width":6,"height":1},{"id":"f430fd0223bbe8cc","type":"mqtt-broker","name":"TTN - balance-connectee@ttn","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d4db57c5addeebe4","type":"ui_group","name":"Latest Data","tab":"d48d28af809fb5ec","order":1,"disp":true,"width":"4","collapse":false,"className":""},{"id":"e56e04ca284056ef","type":"influxdb","hostname":"172.31.0.3","port":"8086","protocol":"http","database":"maBase","name":"maBase beehive","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://adtp.master-stic.fr:8086","rejectUnauthorized":true},{"id":"0f45718f4d08ad7c","type":"ui_group","name":"Beehive data","tab":"d48d28af809fb5ec","order":2,"disp":true,"width":18,"collapse":false,"className":""},{"id":"81d85f59bed07935","type":"ui_group","name":"Last 24h data analysis","tab":"d48d28af809fb5ec","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"834f8d85b7c0c7f7","type":"ui_group","name":"Last 7 days data analysis","tab":"d48d28af809fb5ec","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2410e3029ac04184","type":"ui_group","name":"Metadata","tab":"d48d28af809fb5ec","order":5,"disp":true,"width":"12","collapse":false,"className":""},{"id":"d48d28af809fb5ec","type":"ui_tab","name":"Connected Beehive","icon":"dashboard","order":14,"disabled":false,"hidden":false}]