Fragmentation/NodeRED_LoRaWAN_Fragmentation.json
[{"id":"3d65af8393146a26","type":"tab","label":"Fragmentation","disabled":false,"info":"","env":[]},{"id":"a11f09b47ce14012","type":"comment","z":"3d65af8393146a26","name":"FragSessionDeleteReq command (0x03)","info":"","x":300,"y":300,"wires":[]},{"id":"72f4f856d9f982ef","type":"comment","z":"3d65af8393146a26","name":"PackageVersionReq  command (0x00)","info":"","x":290,"y":100,"wires":[]},{"id":"7546aa6a48aa8277","type":"comment","z":"3d65af8393146a26","name":"FragSessionSetupReq command (0x02..)","info":"","x":300,"y":200,"wires":[]},{"id":"33c0a78cb644052a","type":"mqtt out","z":"3d65af8393146a26","name":"Publisher","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0b5f9950f773f2db","x":660,"y":1040,"wires":[]},{"id":"d2dac0f16d0985a5","type":"function","z":"3d65af8393146a26","name":"JSON downlink setup","func":"/*\n* Title:    Fragmentation - Downlink Setup\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  --\n*\n*/\n\n//!\\\\ topic and paylaod only correct for ThingPark Community NS //!\\\\\n\n// Get values of the form\n// (paths example below are specific to ThingPark Community NS)\nvar command = msg.payload.thepayload;                           //!\\\\ set your own path\nvar deveui = msg.payload.deveui;                                //!\\\\ set your own path\nvar port = msg.payload.theport;                                    //!\\\\ set your own path\n\n// Creation of the topic\n// (topic example below is specific to ThingPark Community NS)\nvar topic = \"mqtt/things/\" + deveui + \"/downlink\";              //!\\\\ set your own topic\n\n// Creation of the variable to return\nvar P=\n{\n    \"topic\": topic,             \n}\n\nP.payload =                                                     //!\\\\ set your own payload format\n{\n\t\"DevEUI_downlink\": {\n\t\t\"DevEUI\": deveui,\n\t\t\"FPort\": port,\n\t\t\"payload_hex\": command,\n\t\t\"Confirmed\": \"0\",\n\t\t\"FlushDownlinkQueue\": \"1\"    \n\t}\n\t\n}\n\n\nmsg=P;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1040,"wires":[["33c0a78cb644052a","8595ca2853e6f09e"]]},{"id":"917410fdb76996ec","type":"ui_form","z":"3d65af8393146a26","name":"Downlink","label":"","group":"6804e06945176a76","order":1,"width":0,"height":0,"options":[{"label":"DevEUI","value":"deveui","type":"text","required":true,"rows":null},{"label":"Port","value":"theport","type":"text","required":true,"rows":null},{"label":"Payload","value":"thepayload","type":"text","required":true,"rows":null}],"formValue":{"deveui":"","theport":"","thepayload":""},"payload":"","submit":"SEND","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":220,"y":1040,"wires":[["d2dac0f16d0985a5"]]},{"id":"80a07c7266d84283","type":"comment","z":"3d65af8393146a26","name":"Downlink","info":"","x":220,"y":1000,"wires":[]},{"id":"bb6e0363df88e8d9","type":"ui_text","z":"3d65af8393146a26","group":"50c3255cdef7b8e7","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":610,"y":140,"wires":[]},{"id":"89ffe2684104864b","type":"ui_template","z":"3d65af8393146a26","group":"50c3255cdef7b8e7","name":"Info","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<!--<head>-->\n<!--\t<title>Hello</title>-->\n\n<!--\t<h1>Hello World</h1>-->\n<!--</head>-->\n<body>\n    \n<p><em>Payload is fixed</em></p>\n\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":190,"y":140,"wires":[[]]},{"id":"47f19edf56cdf159","type":"inject","z":"3d65af8393146a26","name":"00","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"00","payloadType":"str","x":350,"y":140,"wires":[["bb6e0363df88e8d9"]]},{"id":"dd224b1c3b0f5bfc","type":"mqtt in","z":"3d65af8393146a26","name":"Subscriber","topic":"","qos":"2","datatype":"json","broker":"0b5f9950f773f2db","nl":false,"rap":false,"inputs":1,"x":460,"y":1160,"wires":[["3ddccb6617e9709d","eb10c2fbb61c8891","e94c5240df4c408a","32a9aba8afca7041","167ddc8e4693a627"]]},{"id":"398601d13663986e","type":"inject","z":"3d65af8393146a26","name":"Topic to subscribe","props":[{"p":"action","v":"subscribe","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"mqtt/things/+/uplink","x":270,"y":1160,"wires":[["dd224b1c3b0f5bfc"]]},{"id":"e6590f1889be081f","type":"comment","z":"3d65af8393146a26","name":"Uplink listening","info":"","x":240,"y":1120,"wires":[]},{"id":"3ddccb6617e9709d","type":"function","z":"3d65af8393146a26","name":"Uplink study","func":"/*\n* Title:    Fragmentation - Uplink analyzer\n* Autor:    Antoine AUGAGNEUR\n* Date:     may, 2022\n* Sources:  LoRaWAN Fragmented Data Block Transport v1.0.0 Specification\n*\n*/\n\n// Uplink analysis\n//DevEUI = msg.payload.DevEUI_uplink.DevEUI;              //!\\\\ set your own path\nvar upport = msg.payload.DevEUI_uplink.FPort;               //!\\\\ set your own path\n//Fcnt = msg.payload.DevEUI_uplink.FCntUp;                //!\\\\ set your own path\nvar message = msg.payload.DevEUI_uplink.payload_hex;        //!\\\\ set your own path\n\n\n\n// Clock command analysis\nif (upport == \"201\"){\n    \n    message = message.toString('hex');\n    \n// ----------------------------------------------------------------------------------------------------------------------------\n    if (message[1] == \"0\"){\n        msg.commandtype = \"PackageVersionAns \";\n        msg.analysis = \"Pack.ID: \" + message[2] + message[3] + \" / \" + \"Pack.Ver: \" +message[4] + message[5];\n    }\n// ----------------------------------------------------------------------------------------------------------------------------\n    else if(message[1] == \"1\"){\n        msg.commandtype = \"FragSessionStatusAns\";\n        \n        // Received&index = 2-bits Fragindex + 14-bits NbFragReceived\n        var Received_Index = message[4] + message[5]+ message[2]+ message[3];           // !!! big endian - little endian\n        var Received_Index_bin = hex2bin(Received_Index,2);\n        var FragIndex_bin = Received_Index_bin[0]\n                            + Received_Index_bin[1]\n        var FragIndex_dec= parseInt(FragIndex_bin, 2);\n        \n        var NbFragReceived_bin = Received_Index_bin[2]\n                                + Received_Index_bin[3]\n                                + Received_Index_bin[4]\n                                + Received_Index_bin[5]\n                                + Received_Index_bin[6]\n                                + Received_Index_bin[7]\n                                + Received_Index_bin[8]\n                                + Received_Index_bin[9]\n                                + Received_Index_bin[10]\n                                + Received_Index_bin[11]\n                                + Received_Index_bin[12]\n                                + Received_Index_bin[13]\n                                + Received_Index_bin[14]\n                                + Received_Index_bin[15]\n        var NbFragReceived_dec= parseInt(NbFragReceived_bin, 2);\n        \n        // MissingFrag\n        var MissingFrag = message[6] + message[7];\n        var MissingFrag_dec = parseInt(MissingFrag, 16);\n        \n        // Status\n        var Status = message[9]; // message[8] is RFU (always 0)\n        var Status_msg = \"OK\";\n        if (Status == '1'){\n            Status_msg = \"Not enough matrix memory\"; // number of missing fragments > available memory matrix storage capacity\n        }\n        \n        msg.analysis = \"Session: \" + FragIndex_dec + \" / Frag received: \" + NbFragReceived_dec + \" / Missing Frag: \" + MissingFrag_dec +  \" / Status: \" + Status_msg;\n    }\n// ----------------------------------------------------------------------------------------------------------------------------\n    else if(message[1] == \"2\"){\n        msg.commandtype = \"FragSessionSetupAns\";\n        \n        // StatusBitMask (1)\n        var StatusBitMask = message[2] + message[3];\n        var StatusBitMask_bin = hex2bin(StatusBitMask,1);\n        \n        // FragIndex [7:6]\n        var fragIndex = StatusBitMask_bin[0] + StatusBitMask_bin[1];\n        var fragIndex_dec = parseInt(fragIndex,2);\n        \n        // RFU [5:4]\n        // it's 0\n        \n        // Wrong Descriptor [3]\n        var WrongDescriptor = \"OK\";\n        if (StatusBitMask_bin [4] == 1){\n            WrongDescriptor = \"Wrong\"\n        }\n        \n        // FragSession index not supported [2]\n        var FragSessionIndex = \"OK\";\n        if (StatusBitMask_bin [5] == 1){\n            FragSessionIndex = \"Not supported\";\n        }\n        \n        // Not enough Memory [1]\n        var NEMemory = \"OK\";\n        if (StatusBitMask_bin [6] == 1){\n            NEMemory = \"Not enough\";\n        }\n        \n        // Encoding unsupported [0]\n        var EncodeUnsupp = \"OK\";\n        if (StatusBitMask_bin [7] == 1){\n            EncodeUnsupp = \"Not supported\";\n        }\n        \n        var error = \"\";\n        if ( StatusBitMask_bin [4] == 1 || StatusBitMask_bin [5] == 1 || StatusBitMask_bin [6] == 1 || StatusBitMask_bin [7] == 1) {\n             error = \"Command was not accepted ! -> \"\n        }\n        \n        msg.analysis = error + \"FragIndex: \" + fragIndex_dec + \" / Descriptor: \" + WrongDescriptor + \" / FragSessionIndex: \" + FragSessionIndex + \" / Memory: \" + NEMemory + \" / Encoding: \" + EncodeUnsupp;\n    \n    }\n// ----------------------------------------------------------------------------------------------------------------------------\n    else if(message[1] == \"3\"){\n        msg.commandtype = \"FragSessionDeleteAns\";\n        \n        // Status (1)\n        var status = message[2] + message[3];\n        var status_bin = hex2bin(status,1);\n        \n        // RFU [7:3]\n        // it's 0\n        \n        // FragIndex [1:0]\n        var fragindex = status_bin[6] + status_bin[7];\n        var fragindex_dec = parseInt(fragindex,2);\n        \n        var deletemsg; \n        \n        // Session [2]\n        if (status_bin [5] == 1){\n            deletemsg = \"Command not accepted ! -> Session n° \" + fragindex_dec + \" does not exist.\";\n        }\n        else {\n            deletemsg = \" Session n° \" + fragindex_dec + \" was deleted.\";\n        }\n        \n        msg.analysis = deletemsg;\n        }\n// ----------------------------------------------------------------------------------------------------------------------------\n    else{\n        msg.commandtype = \"...\";\n        msg.analysis = \"...\";\n    }\n    \n}\nelse{\n    msg.commandtype = \"...\";\n    msg.analysis = \"...\";\n}\n\n\n\nreturn msg;\n\n\n\n\n\n\n\nfunction hex2bin(hex,nboctet){\n    var bin;\n    if (nboctet == 1){\n        bin = (\"00000000\" + (parseInt(hex, 16)).toString(2)).substr(-8);\n    }\n    else if (nboctet == 2){\n        bin = (\"0000000000000000\" + (parseInt(hex, 16)).toString(2)).substr(-16);\n    }\n    return bin;\n}\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1280,"wires":[["b8554dd0c22148d2","82f7a788f7fae9c3"]]},{"id":"eb10c2fbb61c8891","type":"ui_text","z":"3d65af8393146a26","group":"ca4d1832e4733c3b","order":1,"width":7,"height":1,"name":"","label":"DevEUI","format":"{{msg.payload.DevEUI_uplink.DevEUI}}","layout":"row-spread","className":"","x":780,"y":1160,"wires":[]},{"id":"e94c5240df4c408a","type":"ui_text","z":"3d65af8393146a26","group":"ca4d1832e4733c3b","order":4,"width":7,"height":1,"name":"","label":"Port","format":"{{msg.payload.DevEUI_uplink.FPort}}","layout":"row-spread","className":"","x":790,"y":1200,"wires":[]},{"id":"32a9aba8afca7041","type":"ui_text","z":"3d65af8393146a26","group":"ca4d1832e4733c3b","order":3,"width":7,"height":1,"name":"","label":"Fcnt","format":"{{msg.payload.DevEUI_uplink.FCntUp}}","layout":"row-spread","className":"","x":810,"y":1240,"wires":[]},{"id":"b8554dd0c22148d2","type":"ui_text","z":"3d65af8393146a26","group":"ca4d1832e4733c3b","order":2,"width":7,"height":2,"name":"","label":"Command type","format":"{{msg.commandtype}}","layout":"col-center","className":"","x":900,"y":1320,"wires":[]},{"id":"82f7a788f7fae9c3","type":"ui_text","z":"3d65af8393146a26","group":"ca4d1832e4733c3b","order":5,"width":7,"height":2,"name":"","label":"Command analysis","format":"{{msg.analysis}}","layout":"col-center","className":"","x":950,"y":1360,"wires":[]},{"id":"167ddc8e4693a627","type":"ui_text","z":"3d65af8393146a26","group":"ca4d1832e4733c3b","order":6,"width":7,"height":1,"name":"","label":"Payload","format":"{{msg.payload.DevEUI_uplink.payload_hex}}","layout":"row-spread","className":"","x":840,"y":1280,"wires":[]},{"id":"42c10219a7767471","type":"inject","z":"3d65af8393146a26","name":"RAZ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":630,"y":1340,"wires":[["eb10c2fbb61c8891","e94c5240df4c408a","32a9aba8afca7041","167ddc8e4693a627","b8554dd0c22148d2","82f7a788f7fae9c3"]]},{"id":"5f188fd57a7a97ab","type":"comment","z":"3d65af8393146a26","name":"FragStatusReq command (0x01)","info":"","x":270,"y":400,"wires":[]},{"id":"4dc2d90ae7fd0c49","type":"ui_text","z":"3d65af8393146a26","group":"5d2cc6722652b629","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":610,"y":440,"wires":[]},{"id":"cd37836cc3422706","type":"comment","z":"3d65af8393146a26","name":"DataFragment command (0x08)","info":"","x":270,"y":500,"wires":[]},{"id":"6aff3161f3a78361","type":"ui_dropdown","z":"3d65af8393146a26","name":"","label":"FragIndex","tooltip":"To identify the fragmentation session","place":"Select option","group":"5d2cc6722652b629","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Session 0","value":"0101","type":"str"},{"label":"Session 1","value":"0103","type":"str"},{"label":"Session 2","value":"0105","type":"str"},{"label":"Session 3","value":"0107","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":200,"y":440,"wires":[["4dc2d90ae7fd0c49"]]},{"id":"d4010fd83ac7e9bf","type":"ui_form","z":"3d65af8393146a26","name":"","label":"","group":"0ca354cedcb449c7","order":2,"width":0,"height":0,"options":[{"label":"Session (0, 1, 2, or 3)","value":"fragindex","type":"text","required":true,"rows":null},{"label":"McGroupBitMask (e.g.: group 1 is '0010')","value":"mcgroupbitmask","type":"text","required":true,"rows":null},{"label":"Number of Fragments (dec, max 65535) ","value":"nbfrag","type":"text","required":true,"rows":null},{"label":"Fragment size (dec, max 255 bytes)","value":"fragsize","type":"text","required":true,"rows":null},{"label":"Fragmentation algorithm (shall be 0 that is FEC)","value":"fragalgo","type":"text","required":true,"rows":null},{"label":"Ack Delay (0, 1, ..., or 7)","value":"blockackdelay","type":"text","required":true,"rows":null},{"label":"Padding (dec, max 255 bytes)","value":"padding","type":"text","required":true,"rows":null},{"label":"Descriptor (hex, 4-bytes length)","value":"descriptor","type":"text","required":true,"rows":null}],"formValue":{"fragindex":"","mcgroupbitmask":"","nbfrag":"","fragsize":"","fragalgo":"","blockackdelay":"","padding":"","descriptor":""},"payload":"","submit":"CREATE COMMAND","cancel":"CANCEL","topic":"topic","topicType":"msg","splitLayout":false,"className":"","x":190,"y":240,"wires":[["4453c40123064787"]]},{"id":"6d922fd740dc1c6f","type":"ui_text","z":"3d65af8393146a26","group":"0ca354cedcb449c7","order":1,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":610,"y":240,"wires":[]},{"id":"8fff17d6424c8e88","type":"ui_text","z":"3d65af8393146a26","group":"48ebc1aaf993cd86","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":610,"y":340,"wires":[]},{"id":"26818b50e9e95320","type":"ui_dropdown","z":"3d65af8393146a26","name":"","label":"FragIndex","tooltip":"To identify the fragmentation session to delete","place":"Select option","group":"48ebc1aaf993cd86","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Session 0","value":"0300","type":"str"},{"label":"Session 1","value":"0301","type":"str"},{"label":"Session 2","value":"0302","type":"str"},{"label":"Session 3","value":"0303","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":200,"y":340,"wires":[["8fff17d6424c8e88"]]},{"id":"4453c40123064787","type":"function","z":"3d65af8393146a26","name":"FragSessionSetupReq creation","func":"/*\n* Title:    Fragmetnation -  FragSessionSetupReq creation\n* Autor:    Antoine AUGAGNEUR\n* Date:     may, 2022\n* Sources:  LoRaWAN Fragmented Data Block Transport v1.0.0 Specification\n*\n*/\n\n\n// get the form values\nvar FragIndex = msg.payload.fragindex;\nvar McGroupBitMask = msg.payload.mcgroupbitmask ;\nvar FragNumber = msg.payload.nbfrag;\nvar Fragsize = msg.payload.fragsize;\nvar FragAlgo = msg.payload.fragalgo;\nvar AckDelay = msg.payload.blockackdelay;\nvar padding = msg.payload.padding;\nvar Descriptor = msg.payload.descriptor;\n\n\n// FragSession (1)\nFragSession_bin = \"00\" + (\"00\" + (parseInt(FragIndex, 10)).toString(2)).substr(-2) + McGroupBitMask;        // FragIndex in 0b + McGroupBitMask\nFragSession = (\"00\" + (parseInt(FragSession_bin,2)).toString(16)).substr(-2);                               // bin to hex conversion\n\n\n// NbFrag (2)\nvar nbFrag = (\"0000\" + (parseInt(FragNumber,10)).toString(16)).substr(-4);                                  // Number of fragment with 2 bytes\nvar NbFrag = nbFrag[2] + nbFrag[3] + nbFrag[0] + nbFrag[1];                                                 // little endian - big endian\n\n// FragSize (1)\nvar FragSize = (\"00\" + (parseInt(Fragsize,10)).toString(16)).substr(-2);                                    // Fragment size with 1 byte\n\n// Control (1)\nvar Control_bin = \"00\"\n                    + (\"000\" + (parseInt(FragAlgo, 10)).toString(2)).substr(-3)\n                    + (\"000\" + (parseInt(AckDelay, 10)).toString(2)).substr(-3);\nvar Control = (\"00\" + (parseInt(Control_bin,2)).toString(16)).substr(-2); \n\n// Padding (1) \nvar Padding = (\"00\" + (parseInt(padding,10)).toString(16)).substr(-2);\n\n// Descriptor (4)\n// already setup in the form node\n\n// msg for command\nvar FragSessionSetupReq = \"02\"; // 02 is CID\nFragSessionSetupReq += FragSession + NbFrag + FragSize + Control + Padding + Descriptor;\n\nmsg.payload = FragSessionSetupReq;\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":240,"wires":[["6d922fd740dc1c6f"]]},{"id":"9458906bfdecb659","type":"ui_form","z":"3d65af8393146a26","name":"","label":"","group":"5ce3e5e61cbaa12f","order":1,"width":0,"height":0,"options":[{"label":"Session (0, 1, 2, or 3)","value":"fragindex","type":"text","required":true,"rows":null},{"label":"N (dec, index of the coded fragment transported)","value":"N","type":"text","required":true,"rows":null},{"label":"Coded Fragment (hex)","value":"CodedF","type":"text","required":true,"rows":null}],"formValue":{"fragindex":"","N":"","CodedF":""},"payload":"","submit":"CREATE COMMAND","cancel":"CANCEL","topic":"topic","topicType":"msg","splitLayout":false,"className":"","x":190,"y":540,"wires":[["c19d5e69169e7a35"]]},{"id":"97747b1a700e35c1","type":"ui_text","z":"3d65af8393146a26","group":"5ce3e5e61cbaa12f","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":610,"y":540,"wires":[]},{"id":"c19d5e69169e7a35","type":"function","z":"3d65af8393146a26","name":"DataFragment setup","func":"/*\n* Title:    Fragmentation -  Downlink Data Fragment creation\n* Autor:    Antoine AUGAGNEUR\n* Date:     may, 2022\n* Sources:  LoRaWAN Fragmented Data Block Transport v1.0.0 Specification\n*\n*/\n\n\n// get the form values\nvar FragIndex = msg.payload.fragindex;\nvar N_codedfrag = msg.payload.N ;\nvar CodedFrag = msg.payload.CodedF;\n\n\n// IndexN (2)\nvar IndexN_bin = (\"00\" + (parseInt(FragIndex, 10)).toString(2)).substr(-2)\n                + (\"00000000000000\" + (parseInt(N_codedfrag, 10)).toString(2)).substr(-14);                   // FragIndex in 0b + McGroupBitMask\nvar IndexN = (parseInt(IndexN_bin,2)).toString(16);                                                         // bin to hex conversion\n\n// CODED Fragment (0:MaxAppPl-3)\n// already setup in the form node\n\n// msg for command\nvar DownlinkDataFrag = \"08\"; // 08 is CID\nDownlinkDataFrag += IndexN + CodedFrag;\n\nmsg.payload = DownlinkDataFrag;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":540,"wires":[["97747b1a700e35c1"]]},{"id":"c5268070.c55a3","type":"ui_template","z":"3d65af8393146a26","group":"bf7b1d1095664a78","name":"Upload Btn","order":1,"width":7,"height":1,"format":"\n<body>\n<button class=\"md-raised md-button md-ink-ripple\" onclick=\"importData()\">Upload</button>    \n\n<script>\nlet restoreScope = scope;\n\nfunction importData() {\n  let input = document.createElement('input');\n  input.type = 'file';\n  input.id = 'restoreBtn';\n  input.onchange = _ => {\n    // you can use this method to get file and perform respective operations\n        let fReader = new FileReader();\n        fReader.readAsText(input.files[0]);\n        fReader.onloadend = function(event){\n        restoreScope.send({payload:event.target.result});}\n        };\n  input.click();\n}\n</script>\n</body>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":210,"y":640,"wires":[["071c8f6264a9bc58"]]},{"id":"0f262179d3c5fceb","type":"comment","z":"3d65af8393146a26","name":"DataFragment auto","info":"","x":230,"y":600,"wires":[]},{"id":"a6ea3a8efdedb07c","type":"ui_gauge","z":"3d65af8393146a26","name":"","group":"bf7b1d1095664a78","order":7,"width":7,"height":2,"gtype":"gage","title":"","label":" %","format":"{{msg.percent}}","min":0,"max":"100","colors":["#ff0000","#f58a0f","#44ff00"],"seg1":"33","seg2":"66","className":"","x":890,"y":820,"wires":[]},{"id":"91909ad2fc321be8","type":"ui_text","z":"3d65af8393146a26","group":"bf7b1d1095664a78","order":4,"width":7,"height":1,"name":"","label":"Upload information","format":"{{msg.info}}","layout":"row-spread","className":"","x":930,"y":640,"wires":[]},{"id":"071c8f6264a9bc58","type":"csv","z":"3d65af8393146a26","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":350,"y":640,"wires":[["77d43579cc0ce9ce"]]},{"id":"77d43579cc0ce9ce","type":"function","z":"3d65af8393146a26","name":"DataFragment setup AUTO 1/3","func":"/*\n* Title:    Fragmentation -  Object array to classic 2D array\n* Autor:    Antoine AUGAGNEUR\n* Date:     may, 2022\n* Sources:  LoRaWAN Fragmented Data Block Transport v1.0.0 Specification\n*\n*/\n\n// Get the array and array dimensions\nvar coded_f_array = msg.payload;\nvar coded_f_array_size_line = coded_f_array.length;\nvar coded_f_array_size_col = Object.keys(coded_f_array[0]).length;\n\n// Object to standard 2D array\nfor (let i=0 ; i<coded_f_array_size_line ; i++){\n    coded_f_array[i] = Object.values(coded_f_array[i]);\n}\n\n// global variables\nflow.set(\"coded_f_array_size_line\",coded_f_array_size_line);\nflow.set(\"coded_f_array_size_col\",coded_f_array_size_col);\nflow.set(\"coded_f_array\",coded_f_array);\n\n\nmsg.info = coded_f_array_size_line + \" coded fragments of \" + coded_f_array_size_col + \" bytes\";\nreturn msg;\n\n\n\n\n\n//msg.sizefraginbyte = coded_f_array_size_col;\n//msg.totalsize = parseInt(coded_f_array_size_line,10) * parseInt(coded_f_array_size_col,10);\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":640,"wires":[["91909ad2fc321be8"]]},{"id":"2818263b70a3c697","type":"cronplus","z":"3d65af8393146a26","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"num","payload":"0","expressionType":"cron","expression":"0/10 * * * * ? *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":440,"y":860,"wires":[["071cb0465058f6e5","069a027088e9aed1","2602e4c4a360a24b"]]},{"id":"7463165842e8b141","type":"inject","z":"3d65af8393146a26","name":"Pause (default)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"pause\",\"name\":\"schedule1\"}","payloadType":"json","x":220,"y":820,"wires":[["2818263b70a3c697"]]},{"id":"875829acca4c2249","type":"ui_button","z":"3d65af8393146a26","name":"","group":"bf7b1d1095664a78","order":3,"width":3,"height":1,"passthru":false,"label":"Start the session","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"start\",\"name\":\"schedule1\"}","payloadType":"json","topic":"","topicType":"str","x":210,"y":860,"wires":[["2818263b70a3c697"]]},{"id":"fe35fa506ccec258","type":"function","z":"3d65af8393146a26","name":"DataFragment setup AUTO 2/3","func":"/*\n* Title:    Fragmentation -  Downlink Data Fragment creation\n* Autor:    Antoine AUGAGNEUR\n* Date:     may, 2022\n* Sources:  LoRaWAN Fragmented Data Block Transport v1.0.0 Specification\n*\n*/\n\n// Save the DEVEUI\nflow.set(\"DEVEUI\",msg.payload.deveui);    \n\n// get the global variable\nvar nbline = flow.get(\"coded_f_array_size_line\");   // number of coded fragments\nvar nbcol = flow.get(\"coded_f_array_size_col\");     // size of fragment (in bytes)\nvar arraydata = flow.get(\"coded_f_array\");          // the array of coded fragments\n\n// DataFragment commands setup\nvar coded_f_array_final = Array(nbline);            // array setup\nvar IndexN_bin_buffer;                              // used in the for loop\nvar IndexN_buffer;                                  // used in the for loop\nvar FragIndex_bin = msg.payload.fragindex;          // get the payload\nFragIndex_bin = (\"00\" + (parseInt(FragIndex_bin, 10)).toString(2)).substr(-2)\n\nfor (let p=0 ; p<nbline ; p++){\n    \n    IndexN_bin_buffer = FragIndex_bin + (\"00000000000000\" + (parseInt((p+1), 10)).toString(2)).substr(-14);     // p is the Nth data fragment\n    IndexN_buffer = (\"0000\" + (parseInt(IndexN_bin_buffer,2)).toString(16)).substr(-4);                                           // bin to hex conversion\n    \n    // DataFragment command n°p\n    coded_f_array_final[p] = \"08\" + IndexN_buffer[2] + IndexN_buffer[3] + IndexN_buffer[0] + IndexN_buffer[1];             // little - big endian\n    \n    for (let j=0 ; j<nbcol ; j++){\n        coded_f_array_final[p] += arraydata[p][j];\n    }\n}\n\n\n// global variables\nflow.set(\"coded_f_array_final\",coded_f_array_final);    // data to send line by line\nflow.set(\"counter\",0);                             // counter to send data line by line\n\n\n\n\nmsg.Status = \"Ready for lauch ! \";\nmsg.debug = coded_f_array_final;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":700,"wires":[["caecf63ab9255c5d","0656078a808eb2ff"]]},{"id":"caecf63ab9255c5d","type":"ui_text","z":"3d65af8393146a26","group":"bf7b1d1095664a78","order":2,"width":4,"height":1,"name":"","label":"Session status","format":"{{msg.Status}}","layout":"row-spread","className":"","x":920,"y":700,"wires":[]},{"id":"cb5623f068fdb3d5","type":"ui_text","z":"3d65af8393146a26","group":"bf7b1d1095664a78","order":5,"width":7,"height":1,"name":"","label":"Lastest data sent","format":"{{msg.lastestdata}}","layout":"row-spread","className":"","x":930,"y":780,"wires":[]},{"id":"071cb0465058f6e5","type":"function","z":"3d65af8393146a26","name":"DataFragment setup AUTO 3/3","func":"/*\n* Title:    Fragmentation -  Downlink Data Fragment creation\n* Autor:    Antoine AUGAGNEUR\n* Date:     may, 2022\n* Sources:  LoRaWAN Fragmented Data Block Transport v1.0.0 Specification\n*\n*/\n\n// get the global variable\nvar counter_buffer = flow.get(\"counter\");           \nvar coded_f_array = flow.get(\"coded_f_array_final\");\nvar nbline = flow.get(\"coded_f_array_size_line\");\nvar deveui = flow.get(\"DEVEUI\");\nvar port = \"201\";\n// get the right payload to send\nvar command = coded_f_array[counter_buffer];\n\n// Creation of the topic\n// (topic example below is specific to ThingPark Community NS)\nvar topic = \"mqtt/things/\" + deveui + \"/downlink\";              //!\\\\ set your own topic\n\n// Creation of the variable to return\nvar P=\n{\n    \"topic\": topic,             \n}\n\nP.payload =                                                     //!\\\\ set your own payload format\n{\n\t\"DevEUI_downlink\": {\n\t\t\"DevEUI\": deveui,\n\t\t\"FPort\": port,\n\t\t\"payload_hex\": command,\n\t\t\"Confirmed\": \"0\",\n\t\t\"FlushDownlinkQueue\": \"1\"    \n\t}\n\t\n}\n\n\n\nmsg=P;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nvar nbline = flow.get(\"coded_f_array_size_line\");   // number of coded fragments\nvar nbcol = flow.get(\"coded_f_array_size_col\");     // size of fragment (in bytes)\nvar arraydata = flow.get(\"coded_f_array\");          // the array of coded fragments\n\n// DataFragment commands setup\nvar coded_f_array_final = Array(nbline);            // array setup\nvar IndexN_bin_buffer;                              // used in the for loop\nvar IndexN_buffer;                                  // used in the for loop\nvar FragIndex_bin = msg.payload;                    // get the payload\n\n\nfor (let p=0 ; p<nbline ; p++){\n    \n    IndexN_bin_buffer = FragIndex_bin + (\"00000000000000\" + (parseInt(p, 10)).toString(2)).substr(-14);     // p is the Nth data fragment\n    IndexN_buffer = (parseInt(IndexN_bin_buffer,2)).toString(16);                                           // bin to hex conversion\n    \n    // DataFragment command n°p\n    coded_f_array_final[p] = \"08\" + IndexN_buffer;\n    \n    for (let j=0 ; j<nbcol ; j++){\n        coded_f_array_final[p] += arraydata[p][j];\n    }\n}\n\n\n// global variables\nflow.set(\"coded_f_array_final\",coded_f_array_final);    // data to send line by line\nflow.set(\"countdown\",nbline);                           // countdown to send data line by line\n\n\n\n\nmsg.Status = \"Ready for lauch ! \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":900,"wires":[["8595ca2853e6f09e","e83779388c6af33b"]]},{"id":"5f02e058981baaad","type":"link in","z":"3d65af8393146a26","name":"","links":["e7f05d9792d82607"],"x":275,"y":900,"wires":[["2818263b70a3c697"]]},{"id":"680d30c42b9bf1dc","type":"ui_form","z":"3d65af8393146a26","name":"Session Setup","label":"","group":"bf7b1d1095664a78","order":6,"width":7,"height":2,"options":[{"label":"DevEUI","value":"deveui","type":"text","required":true,"rows":null},{"label":"Session (0, 1, 2, or 3)","value":"fragindex","type":"text","required":true,"rows":null}],"formValue":{"deveui":"","fragindex":""},"payload":"","submit":"SETUP the SESSION","cancel":"CANCEL","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":220,"y":700,"wires":[["fe35fa506ccec258"]]},{"id":"069a027088e9aed1","type":"function","z":"3d65af8393146a26","name":"CRON management","func":"/*\n* Title:    Fragmentation -  CRON management\n* Autor:    Antoine AUGAGNEUR\n* Date:     may, 2022\n* Sources:  LoRaWAN Fragmented Data Block Transport v1.0.0 Specification\n*\n*/\n\n\n\n// get globale variables\nvar nbline = flow.get(\"coded_f_array_size_line\");\nvar counter_buffer = flow.get(\"counter\");  \n\n// update the countdown\ncounter_buffer = counter_buffer + 1;\nflow.set(\"counter\",counter_buffer);   \n\nvar P=\n{\n}\n\n// stop the timer if needed\nif (counter_buffer >= nbline){\n    flow.set(\"RAZ\",1);\n    P.payload =                                                    \n    {\n        \"command\": \"pause\",\n        \"name\": \"schedule1\"\n    }\n    \n    msg=P;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":860,"wires":[["e7f05d9792d82607"]]},{"id":"e7f05d9792d82607","type":"link out","z":"3d65af8393146a26","name":"","mode":"link","links":["5f02e058981baaad","803b5741a4be01cb"],"x":855,"y":860,"wires":[]},{"id":"2602e4c4a360a24b","type":"function","z":"3d65af8393146a26","name":"Get data & Display","func":"/*\n* Title:    Fragmentation -  Get data & Display\n* Autor:    Antoine AUGAGNEUR\n* Date:     may, 2022\n* Sources:  LoRaWAN Fragmented Data Block Transport v1.0.0 Specification\n*\n*/\n\n// get the global variable\nvar counter_buffer = flow.get(\"counter\");           \nvar coded_f_array = flow.get(\"coded_f_array_final\");\nvar nbline = flow.get(\"coded_f_array_size_line\");\nvar deveui = flow.get(\"DEVEUI\");\n\n// get the right payload to send\nvar command = coded_f_array[counter_buffer-1];\n\n\nmsg.lastestdata = command;\nmsg.percent = parseInt((counter_buffer/nbline)*100);\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nvar nbline = flow.get(\"coded_f_array_size_line\");   // number of coded fragments\nvar nbcol = flow.get(\"coded_f_array_size_col\");     // size of fragment (in bytes)\nvar arraydata = flow.get(\"coded_f_array\");          // the array of coded fragments\n\n// DataFragment commands setup\nvar coded_f_array_final = Array(nbline);            // array setup\nvar IndexN_bin_buffer;                              // used in the for loop\nvar IndexN_buffer;                                  // used in the for loop\nvar FragIndex_bin = msg.payload;                    // get the payload\n\n\nfor (let p=0 ; p<nbline ; p++){\n    \n    IndexN_bin_buffer = FragIndex_bin + (\"00000000000000\" + (parseInt(p, 10)).toString(2)).substr(-14);     // p is the Nth data fragment\n    IndexN_buffer = (parseInt(IndexN_bin_buffer,2)).toString(16);                                           // bin to hex conversion\n    \n    // DataFragment command n°p\n    coded_f_array_final[p] = \"08\" + IndexN_buffer;\n    \n    for (let j=0 ; j<nbcol ; j++){\n        coded_f_array_final[p] += arraydata[p][j];\n    }\n}\n\n\n// global variables\nflow.set(\"coded_f_array_final\",coded_f_array_final);    // data to send line by line\nflow.set(\"countdown\",nbline);                           // countdown to send data line by line\n\n\n\n\nmsg.Status = \"Ready for lauch ! \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":820,"wires":[["cb5623f068fdb3d5","a6ea3a8efdedb07c"]]},{"id":"7380e4a0adc82ef1","type":"function","z":"3d65af8393146a26","name":"RAZ","func":"\nvar buff = flow.get(\"RAZ\");\n\nif (buff == 1){\n    msg.info = \"--\";\n    msg;Status = \"--\";\n    msg.lastestdata = \"--\";\n    msg.percent = 0;\n    \n    flow.set(\"RAZ\",0);\n    \n    return msg;    \n    \n}\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":480,"wires":[["b66ce0696c980e59"]]},{"id":"803b5741a4be01cb","type":"link in","z":"3d65af8393146a26","name":"","links":["e7f05d9792d82607"],"x":995,"y":480,"wires":[["7380e4a0adc82ef1"]]},{"id":"b66ce0696c980e59","type":"link out","z":"3d65af8393146a26","name":"","mode":"link","links":["994560b976b33e83"],"x":1275,"y":480,"wires":[]},{"id":"994560b976b33e83","type":"link in","z":"3d65af8393146a26","name":"","links":["b66ce0696c980e59"],"x":755,"y":740,"wires":[["91909ad2fc321be8","caecf63ab9255c5d","cb5623f068fdb3d5","a6ea3a8efdedb07c"]]},{"id":"8595ca2853e6f09e","type":"debug","z":"3d65af8393146a26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":980,"wires":[]},{"id":"0656078a808eb2ff","type":"debug","z":"3d65af8393146a26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"debug","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":580,"wires":[]},{"id":"e83779388c6af33b","type":"mqtt out","z":"3d65af8393146a26","name":"Publisher","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0b5f9950f773f2db","x":900,"y":900,"wires":[]},{"id":"0b5f9950f773f2db","type":"mqtt-broker","name":"Mosquitto ONLINE","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6804e06945176a76","type":"ui_group","name":"Downlink","tab":"2c4cbf463f5f8d21","order":7,"disp":true,"width":"7","collapse":false,"className":""},{"id":"50c3255cdef7b8e7","type":"ui_group","name":"PackageVersionReq","tab":"2c4cbf463f5f8d21","order":2,"disp":true,"width":7,"collapse":false,"className":""},{"id":"ca4d1832e4733c3b","type":"ui_group","name":"Uplink","tab":"2c4cbf463f5f8d21","order":8,"disp":true,"width":"14","collapse":false,"className":""},{"id":"5d2cc6722652b629","type":"ui_group","name":"FragStatusReq","tab":"2c4cbf463f5f8d21","order":3,"disp":true,"width":7,"collapse":false,"className":""},{"id":"0ca354cedcb449c7","type":"ui_group","name":"FragSessionSetupReq","tab":"2c4cbf463f5f8d21","order":1,"disp":true,"width":7,"collapse":false,"className":""},{"id":"48ebc1aaf993cd86","type":"ui_group","name":"FragSessionDeleteReq","tab":"2c4cbf463f5f8d21","order":4,"disp":true,"width":7,"collapse":false,"className":""},{"id":"5ce3e5e61cbaa12f","type":"ui_group","name":"DataFragment","tab":"2c4cbf463f5f8d21","order":5,"disp":true,"width":7,"collapse":false,"className":""},{"id":"bf7b1d1095664a78","type":"ui_group","name":"DataFragment auto","tab":"2c4cbf463f5f8d21","order":6,"disp":true,"width":14,"collapse":false,"className":""},{"id":"2c4cbf463f5f8d21","type":"ui_tab","name":"Fragmentation","icon":"dashboard","order":9,"disabled":false,"hidden":false}]