Demo LRWAN1/Demo_lrwan1_dashboard.json
[{"id":"ae60f8461c500e3c","type":"tab","label":"DEMO-LRWAN1","disabled":false,"info":"","env":[]},{"id":"fa60fd798649cda7","type":"mqtt in","z":"ae60f8461c500e3c","name":"Subscribe to Smart Plug","topic":"v3/nke-watteco@ttn/devices/lrwan1-end-node/+","qos":"2","datatype":"json","broker":"8e6e7013aef2591a","nl":false,"rap":true,"rh":0,"inputs":0,"x":430,"y":260,"wires":[["b3fd76519d00c6ac","ac273bb0887cd309","c9c5d1c93ac8d6fc","3b0feab31079f079","7e5d3f41b7701fd1","80a7b4a6d9756f72","5aaf5b4c70a1ab7f","c144bf911c1ad7a5","75550ce7bce72860","4dfa4bd36cab8982","b8cc7fa5d6b758a3","fd7ec746b690423b"]]},{"id":"42133a8d401497d6","type":"ui_chart","z":"ae60f8461c500e3c","name":"","group":"e6ecd473315dee89","order":1,"width":14,"height":6,"label":"Temperature (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"monotone","nodata":"Wainting for data...","dot":true,"ymin":"15","ymax":"45","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":990,"y":140,"wires":[[]]},{"id":"b3fd76519d00c6ac","type":"debug","z":"ae60f8461c500e3c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":60,"wires":[]},{"id":"7e5d3f41b7701fd1","type":"ui_gauge","z":"ae60f8461c500e3c","name":"","group":"e6ecd473315dee89","order":14,"width":3,"height":3,"gtype":"compass","title":"RSSI","label":"dBm","format":"{{msg.payload.uplink_message.rx_metadata[0].rssi}}","min":"-125","max":"-95","colors":["#c5020c","#e6e600","#00b500"],"seg1":"","seg2":"","className":"","x":810,"y":580,"wires":[]},{"id":"081d875a3b5fb64e","type":"ui_chart","z":"ae60f8461c500e3c","name":"","group":"e6ecd473315dee89","order":2,"width":14,"height":6,"label":"Humidity (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"monotone","nodata":"Wainting for data...","dot":true,"ymin":"45","ymax":"90","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":970,"y":180,"wires":[[]]},{"id":"11cce844247c53cf","type":"ui_chart","z":"ae60f8461c500e3c","name":"","group":"e6ecd473315dee89","order":3,"width":14,"height":6,"label":"Barometric pressure (hPa)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"monotone","nodata":"Wainting for data...","dot":true,"ymin":"975","ymax":"990","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1020,"y":220,"wires":[[]]},{"id":"ac273bb0887cd309","type":"function","z":"ae60f8461c500e3c","name":"filter","func":"/*\n* Title:    Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// Payload conversion\nvar buff = msg.payload.uplink_message.decoded_payload.temperature_1;  \n\n// New msg creation\nvar newMsg = { payload: buff };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":140,"wires":[["42133a8d401497d6"]]},{"id":"c9c5d1c93ac8d6fc","type":"function","z":"ae60f8461c500e3c","name":"filter","func":"/*\n* Title:    Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// Payload conversion\nvar buff = msg.payload.uplink_message.decoded_payload.relative_humidity_1;  \n\n// New msg creation\nvar newMsg = { payload: buff };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":180,"wires":[["081d875a3b5fb64e"]]},{"id":"3b0feab31079f079","type":"function","z":"ae60f8461c500e3c","name":"filter","func":"/*\n* Title:    Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// Payload conversion\nvar buff = msg.payload.uplink_message.decoded_payload.barometric_pressure_2;  \n\n// New msg creation\nvar newMsg = { payload: buff };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":220,"wires":[["11cce844247c53cf"]]},{"id":"80a7b4a6d9756f72","type":"ui_gauge","z":"ae60f8461c500e3c","name":"","group":"e6ecd473315dee89","order":15,"width":3,"height":3,"gtype":"compass","title":"SNR","label":"dB","format":"{{msg.payload.uplink_message.rx_metadata[0].snr}}","min":"-10","max":"15","colors":["#c5020c","#e6e600","#00b500"],"seg1":"","seg2":"","className":"","x":810,"y":620,"wires":[]},{"id":"5aaf5b4c70a1ab7f","type":"function","z":"ae60f8461c500e3c","name":"Get the Date","func":"/*\n* Title:    Payload conversion\n* Autor:    Antoine AUGAGNEUR\n* Date:     april, 2022\n* Sources:  --\n*\n*/\n\n// Get Payload\nvar buff = msg.payload.uplink_message.received_at; // get the date\nvar dateformat = Date.parse(buff);\n\nvar DeviceTime_date = new Date(1970, 0, 1);                        // Epoch\nDeviceTime_date.setSeconds((dateformat/1000)+(3600*2));\nlet DeviceTime_date_format = DeviceTime_date.toLocaleString('fr-FR',{\n                                                weekday: 'long',\n                                                year: 'numeric',\n                                                month: 'long',\n                                                day: 'numeric',\n                                                hour: 'numeric',\n                                                minute: 'numeric',\n                                                second: 'numeric'});\n\n\n\n\n\n// New msg creation\nvar newMsg = { payload: DeviceTime_date_format };\nreturn newMsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":440,"wires":[["802a751db6fabb1d"]]},{"id":"802a751db6fabb1d","type":"ui_text","z":"ae60f8461c500e3c","group":"e6ecd473315dee89","order":13,"width":8,"height":1,"name":"Date","label":"Lastest data","format":"{{msg.payload}}","layout":"row-spread","className":"","x":990,"y":440,"wires":[]},{"id":"c144bf911c1ad7a5","type":"ui_text","z":"ae60f8461c500e3c","group":"e6ecd473315dee89","order":16,"width":8,"height":1,"name":"End-device name","label":"End-device name","format":"{{msg.payload.end_device_ids.device_id}}","layout":"row-spread","className":"","x":850,"y":480,"wires":[]},{"id":"75550ce7bce72860","type":"ui_text","z":"ae60f8461c500e3c","group":"e6ecd473315dee89","order":17,"width":8,"height":1,"name":"Gateway used","label":"Gateway used","format":"{{msg.payload.uplink_message.rx_metadata[0].gateway_ids.gateway_id}}","layout":"row-spread","className":"","x":840,"y":520,"wires":[]},{"id":"4dfa4bd36cab8982","type":"ui_gauge","z":"ae60f8461c500e3c","name":"","group":"e6ecd473315dee89","order":4,"width":4,"height":3,"gtype":"donut","title":"Temperature","label":"°C","format":"{{msg.payload.uplink_message.decoded_payload.temperature_1}}","min":"0","max":"40","colors":["#02c2c5","#e6e600","#da012d"],"seg1":"","seg2":"","className":"","x":830,"y":300,"wires":[]},{"id":"b8cc7fa5d6b758a3","type":"ui_gauge","z":"ae60f8461c500e3c","name":"","group":"e6ecd473315dee89","order":6,"width":4,"height":3,"gtype":"donut","title":"Humidity","label":"%","format":"{{msg.payload.uplink_message.decoded_payload.relative_humidity_1}}","min":"45","max":"90","colors":["#02c2c5","#e6e600","#da012d"],"seg1":"","seg2":"","className":"","x":820,"y":340,"wires":[]},{"id":"fd7ec746b690423b","type":"ui_gauge","z":"ae60f8461c500e3c","name":"","group":"e6ecd473315dee89","order":8,"width":4,"height":3,"gtype":"donut","title":"Barometric pressure","label":"hPa","format":"{{msg.payload.uplink_message.decoded_payload.barometric_pressure_2}}","min":"970","max":"1000","colors":["#02c2c5","#e6e600","#da012d"],"seg1":"","seg2":"","className":"","x":860,"y":380,"wires":[]},{"id":"c399686e147e3e6b","type":"comment","z":"ae60f8461c500e3c","name":"LRWAN1 DEMO Dashboard - Antoine AUGAGNEUR","info":"","x":510,"y":60,"wires":[]},{"id":"e92e14c709175f39","type":"ui_spacer","z":"ae60f8461c500e3c","name":"spacer","group":"e6ecd473315dee89","order":5,"width":1,"height":1},{"id":"49ac346ba218df2f","type":"ui_spacer","z":"ae60f8461c500e3c","name":"spacer","group":"e6ecd473315dee89","order":7,"width":1,"height":1},{"id":"b14550ef3cd292bb","type":"ui_spacer","z":"ae60f8461c500e3c","name":"spacer","group":"e6ecd473315dee89","order":9,"width":1,"height":1},{"id":"4df6888636a81b78","type":"ui_spacer","z":"ae60f8461c500e3c","name":"spacer","group":"e6ecd473315dee89","order":10,"width":1,"height":1},{"id":"4a3771346b27d93b","type":"ui_spacer","z":"ae60f8461c500e3c","name":"spacer","group":"e6ecd473315dee89","order":11,"width":1,"height":1},{"id":"b31892635d611dc2","type":"ui_spacer","z":"ae60f8461c500e3c","name":"spacer","group":"e6ecd473315dee89","order":12,"width":1,"height":1},{"id":"8e6e7013aef2591a","type":"mqtt-broker","name":"TTN - nke-watteco@ttn","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e6ecd473315dee89","type":"ui_group","name":"Sensors data","tab":"f8faecd839f051bb","order":1,"disp":true,"width":28,"collapse":false,"className":""},{"id":"f8faecd839f051bb","type":"ui_tab","name":"Demo lrwan1","icon":"dashboard","order":17,"disabled":false,"hidden":false}]